<ion-header>
  <ion-toolbar>
    <ion-title>compare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>

    <ion-col size="6">
      <ion-card>
        <img src="assets/images/college.jpg" alt="">
        <p>College Name</p>
        <p class="location">Location </p>
        <div class="row" style="    display: flex;
              flex-direction: row;
              margin-top: 16px;
              color: orange;">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>

        </div>
        <p class="rating">4.5 Rating</p>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="assets/images/college.jpg" alt="">
        <p>College Name</p>
        <p class="location">Location </p>
        <div class="row" style="    display: flex;
              flex-direction: row;
              margin-top: 16px;
              color: orange;">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
        </div>
        <p class="rating">4.1 Rating</p>

      </ion-card>

    </ion-col>
    <ion-col size="12">
      <ion-card class="card">
        <p>Diploma</p>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <p class="location">2 Years </p>
      <p class="location">4 Semester </p>
      <p class="location">50000 Course fee </p>
      <p class="location">500 NSPOT fee </p>
      <button class="apply" routerLink="/tabs/tab1/detailedview">Apply</button>
    </ion-col>
    <ion-col size="6">
      <p class="location">2 Years </p>
      <p class="location">4 Semester </p>
      <p class="location">50000 Course fee </p>
      <p class="location">500 NSPOT fee </p>
      <button class="apply" routerLink="/tabs/tab1/detailedview">Apply</button>
    </ion-col>
  </ion-row>
</ion-content>