
<ion-content>
  <ion-icon style="font-size: 34px;
  position: absolute;
  margin-left: 87%;
  color: grey;" name="close-outline" (click)="close()"></ion-icon>
  <img src="./assets/images/check.png" alt="">
  <h6>Congratulation</h6>
  <p>Your applciation is for Btech at <em style="color: orange; font-weight: bold;
     font-style: initial;"> KMEA Engineering college </em> is approved please make payment to complete your addmision</p>

    <div class="container">
      <hr>
      <ion-row>
        <ion-col size="6">
          <p>Amount</p>
          <p>Other Fees</p>
        </ion-col>
        <ion-col size="6">
          <p>5000</p>
          <p>500</p>
        </ion-col>
        <hr>
       
        <ion-col size="6">
          <p>Total Fees</p>
        </ion-col>
        <ion-col size="6">
          <p>5500</p>
        </ion-col>
        <button class="paynow">Pay Now</button>
      </ion-row>
    </div>
</ion-content>
