<ion-header>
  <ion-toolbar>
   
    <ion-title>Select Filters</ion-title>
   
    <ion-buttons slot="end">
      <ion-icon name="close-circle" style="margin-right: 19px;
      margin-top: 35px;
      font-size: 36px;
      color: wheat;" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-row>
      <ion-col size="10">
        
        <p>LKG</p>
      
      </ion-col>
      <ion-col size="2">
        
       
        <input type="checkbox" style="margin-top: 17px;">
      </ion-col>
      <ion-col size="10">
        
        <p>LKG</p>
      
      </ion-col>
      <ion-col size="2">
        
       
        <input type="checkbox" style="margin-top: 17px;">
      </ion-col> <ion-col size="10">
        
        <p>LKG</p>
      
      </ion-col>
      <ion-col size="2">
        
       
        <input type="checkbox" style="margin-top: 17px;">
      </ion-col> <ion-col size="10">
        
        <p>UKG</p>
      
      </ion-col>
      <ion-col size="2">
        
       
        <input type="checkbox" style="margin-top: 17px;">
      </ion-col> <ion-col size="10">
        
        <p>PRIMARY</p>
      
      </ion-col>
      <ion-col size="2">
        
       
        <input type="checkbox" style="margin-top: 17px;">
      </ion-col> <ion-col size="10">
        
        <p>SECONDARY</p>
      
      </ion-col>
      <ion-col size="2">
        
       
        <input type="checkbox" style="margin-top: 17px;">
      </ion-col>
      <ion-col size="12">
        
       
        <input type="text" class="form-control" placeholder="location">
      </ion-col>
      <ion-col size="12">
        <h6>Fees(per Semester)</h6>
        <input type="text" class="form-control" placeholder="fees">
      </ion-col>
      <ion-col size="12">
      <button class="apply">Apply</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
