<div class="login_forget_layout">
    <div class="back_option">
        <button  class="back_arrow_btn btn-primary" (click)='onBack()'>
        </button>
        <span>{{headingForEmailPage}}</span>
    </div>
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label class="form-label">Email ID</label>
            <input type="mail" placeholder="Enter your email address" formControlName="email" class="form-control" />
            <app-form-error [control]="loginForm.get('email')" validatorName="required">
                Email ID is required.
            </app-form-error>
        </div>
        </form>
        <div class="forget_detail">
            <span>OTP will be sent to your email address.</span>
        </div>
        <div class="form-btn mt-60">
            <button  [disabled]="loginForm.invalid" class="btn btn-primary btn-full"(click)="SubmitMail()">Next</button>
        </div>
</div>