.back_btn{
    margin-bottom: 8vh;
}
.otp_outer{
   p:nth-child(1){
       font-size: 2.6rem;
       margin-bottom: 3vh;
       font-family: Poppins-Medium;
   }
   p:nth-child(2){
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-family: Poppins-Light;
   }
   .otp_input_sec{
        margin: 3vh 0vh;
   }
   .resend{
       margin-top: 3vh;
       span{
        font-family: Poppins-Medium; 
       }
       label{
        font-family: Poppins-Light; 
        font-size: 14px;
       }
   }
}
@media only screen and (max-width: 1600px) {
    .otp_outer{
        p:nth-child(1){
            font-size: 2rem;
        }
        p:nth-child(2){
         font-size: 1.2rem;
        }
    }
}

.center{
    text-align: center;
}
.submitbutton{
    width: 80%;
    padding: 0;
}