<div class="cancel_overlay"></div>
<div class="popup_out">
    <div class="popup_icon"></div>
    <p class="pop_head">{{'mode.kyctitle' | translate}}</p>
    <p class="pop_message">{{'mode.kycpara' | translate}}</p>
    <div class="button_wrap">
        <button (click)="popupAction('1')" class="btn btn_transparent">{{'about.cancel' | translate}} 
        </button>
        <button (click)="popupAction('2')" class="btn ">{{'createCompetition.continue' | translate}} 
        </button>
    </div>
</div>
