<section class="admin_table_layout">
    <table class="table_spacing">
        <tr>
            <th width='5%'></th>
            <th width='15%'>User Name</th>
            <th width='20%'>E-mail</th>
            <th width='10%'>Phone</th> 
            <th width='10%'>Wallet</th>
            <th width='10%'>Currency</th>
            <th width='5%'>Hosted Competition</th>
            <th width='5%'>KYC Status</th>
            <th width='20%' class="text-center"></th> 
        </tr>
        <tbody>
            <tr >
                <td width='5%' class="td_first">
                    wq
                </td>
                <td width='15%'>
                    wq
                </td>
                <td width='20%'>
                    wq
                </td>
                <td width='15%'>
                    wq
                </td>
                <td width='10%'>
                    wq
                </td>
                <td width='10%'>
                    wq
                </td>
                <td width='10%'>
                    tes
                </td>
                <td width='15%' class="text-right td_last">
                    
                </td>
            </tr>
        </tbody>
       
    </table>
    <!-- <div *ngIf='userDetails.length === 0' class="text-center pd_16">
        No User Available
    </div> -->
    <!-- <section class="paginator_admin" *ngIf="total>10">
        <pagination-controls (pageChange)="paginateGames($event)"></pagination-controls>
    </section> -->
</section>