<div id="section" (scroll)="onScroll($event)">
    <section class="layout_outer">
        <app-header *ngIf="isWeb" [fixed]='fixed'></app-header>
        <section class="rules_outer">
            <div class="rules_head">{{'game-rule.mainHead' | translate}}</div>
            <ul>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list1' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list2' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list3' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list4' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list5' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list6' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list7' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list8' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list9' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list10' | translate}}</li>
                <li class="rule-unorder-list">{{'game-rule.orderlist.list11' | translate}}</li>

            </ul>

            <div class="rule-subHead">{{'game-rule.orderlist.list1' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader1.p1' | translate}}</p>
                <h6>{{'game-rule.subheader1.h1' | translate}}</h6>
                <table id="customers">
                    <tr>
                        <th>{{'game-rule.subheader1.table.tableheder1' | translate}}</th>
                        <th>{{'game-rule.subheader1.table.tableheder2' | translate}}</th>
                 
                    </tr>

                    <tr>
                        <td>{{'game-rule.subheader1.table-header1-column.col1' | translate}}</td>
                      
                        <td>{{'game-rule.subheader1.table-header2-column.col1' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'game-rule.subheader1.table-header1-column.col2' | translate}}</td>
                      
                        <td>{{'game-rule.subheader1.table-header2-column.col2' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'game-rule.subheader1.table-header1-column.col3' | translate}}</td>
                      
                        <td>{{'game-rule.subheader1.table-header2-column.col3' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'game-rule.subheader1.table-header1-column.col4' | translate}}</td>
                      
                        <td>{{'game-rule.subheader1.table-header2-column.col4' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'game-rule.subheader1.table-header1-column.col5' | translate}}</td>
                      
                        <td>{{'game-rule.subheader1.table-header2-column.col5' | translate}}</td>
                    </tr>
                </table>

            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list2' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader2.P1' | translate}}</p>
                <p>{{'game-rule.subheader2.subHeader' | translate}}</p>
                <table id="customers">
                    <tr>
                        <th>{{'game-rule.subheader2.table.tableheder1' | translate}}</th>
                        <th>{{'game-rule.subheader2.table.tableheder2' | translate}}</th>
                 
                    </tr>

                    <tr>
                        <td>{{'game-rule.subheader2.table-header1-column.col1' | translate}}</td>
                      
                        <td>{{'game-rule.subheader2.table-header2-column.col1' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'game-rule.subheader2.table-header1-column.col2' | translate}}</td>
                      
                        <td>{{'game-rule.subheader2.table-header2-column.col2' | translate}}</td>
                    </tr>
             
                 
                </table>

            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list3' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader3.p1' | translate}}</p>
                <ul>
                    <li  class="rule-unorder-list">{{'game-rule.subheader3.orderlist.list1' | translate}}</li>
                    <li  class="rule-unorder-list">{{'game-rule.subheader3.orderlist.list2' | translate}}</li>
                    <li  class="rule-unorder-list">{{'game-rule.subheader3.orderlist.list3' | translate}}</li>

                </ul>
            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list4' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader4.p1' | translate}}</p>
          

            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list5' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader5.p1' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list6' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader6.p1' | translate}}</p>

            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list7' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader7.p1' | translate}}</p>
                <p>{{'game-rule.subheader7.p2' | translate}}</p>



            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list8' | translate}}</div>
            <div class="rules_wrap">
      
                <p>{{'game-rule.subheader8.p1' | translate}}</p>
                <p>{{'game-rule.subheader8.p2' | translate}}</p>
                <p>{{'game-rule.subheader8.p3' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list9' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader9.p1' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list10' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader10.p1' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'game-rule.orderlist.list11' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'game-rule.subheader11.p1' | translate}}</p>
                <p>{{'game-rule.subheader11.p2' | translate}}</p>


            </div>
        </section>
    </section>
</div>
<app-footer *ngIf="isWeb"></app-footer>
