<!-- <div class="cancel_overlay"></div>
<form class="str_payment_wrap" novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
    <p>Add <span>{{amountSelected}}</span> to your wallet</p>
    <input type="text" formControlName="name" class="form-control" placeholder="Name on card">
    <ngx-stripe-card
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
    ></ngx-stripe-card>
    <div class="strp_button_wrap">
        <div (click)="cancelPayment()">Cancel 
        </div>
        <button type="submit" class="btn anim_button">
        Pay {{amountSelected}}
        <span>>>></span>
        </button>
    </div>

  </form> -->
