.competition_layout{
    position: relative;
    padding: 0vh 5vh 3vh 5vh;
    border-radius: 12px;
    margin: 4vh 0vh;
    width: 100%;
    background-color:#191f2b;
    height: 100%;
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th {
        color:white;
        text-align:left;
        padding: 13px;
        font-size: 1.4rem;
        font-family: Poppins-Light;
        font-weight: 100;
    }
     td {
        text-align:left;
        background-color: #151b27;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        padding: 1vh 2vh;
        font-size: 1.2rem;
        border-bottom: 1px solid #272d37;
        border-top: 1px solid #272d37;
        color: white;
        font-family: Poppins-Light;
        font-weight: 100;
        .name{
            font-size: 1.4rem;
            color: white;
            font-style: initial;
        }

    }
    .td_first{
        border-left: 1px solid #272d37;
        border-radius: 10px 0px 0px 10px;
    }
    .td_last{
        border-right: 1px solid #272d37;
        border-radius: 0px 10px 10px 0px;

    }
    .table_spacing {
        border-collapse:separate;
        border-spacing:0px 27px;
    }
}
.player_detail{
    display: flex;
    align-items: center;
    justify-content: left;
    p{
        padding-left: 16px;

    }
    .earned_coin{
      color: #0DB983;
      font-weight: bold !important;
      font-size: 1.6rem;
      font-family: 'Poppins-Medium';
    }
    .competition_card_image{
        width: 69px;
        height: 68px;
        border: 4px solid #292E38;
        border-radius: 50%;
        position: relative;
        .team_1{
            width: 60%;
            height: 60%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

        }
        .team_2{
            width: 60%;
            height: 60%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .client-name{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
    }
}
.competition_option_view_btn{
    cursor: pointer;
    width: 131px;
    background-color: #3b414d;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
    p{
        font-size: 1.4rem;
        margin: 8px 20px !important;
        color: white;
        font-style: initial;
    }
    }

.competition_option_view_add{
    cursor: pointer;
    position: relative;
    display: flex;
    border-radius: 4px;
    width: 37px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #212733;
    height: 35px;
}
.follow_icon{
    background-image: url(/assets/images/follow_icon.svg);
    background-size: cover;
    background-position: center;
    width: 23px;
    height: 23px;
}
.pa_0{
    padding: 0px !important;
} 
@media only screen and (max-width: 1600px) {
    .competition_card_image{
        width: 50px !important;
        height: 50px !important;
      }
      td{
        .h-txt{
            font-size: 1.4rem!important;
        }
        p{
            font-size: 1.2rem !important;
        }
      }
    th {
        color:white;
        text-align:left;
        padding: 13px;
        font-size: 1.2rem;
    }
    .name{
        font-size: 1.2rem !important;
    }
    .competition_option_view_btn{
      height: 100% !important;
      width: 107px !important;
        p{
            font-size: 1.2rem;
            margin: 8px 20px !important;        }
        }
        .competition_option_view_add{
            border-radius: 4px;
            width: 30px;
            height: 30px;

            .follow_icon{
                width: 15px;
                height: 16px;
            }
        }
      
        .earned_coin{
            font-size: 1.4rem !important;
        }
        .competition_option_view_btn{
            p{
                font-size: 1.2rem;
            }
        }

}

.active_user{
    color: #FEBB2E  !important;
}
.active_user_background{
    background-color: #24252A !important;
}

.h-txt{
    font-family: Poppins-Medium;
    font-size: 1.6rem;
    margin-top: 5px;
    span{
        font-family: Poppins-Regular;
        font-size: 1.4rem;
    }
}
p{
    font-family: Poppins-Light-Italic;
    font-size: 1.4rem;
    margin-top: 6px;
    padding: 0px;
    color: #8a8b90;
    img{
        width: 10px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1400px) {
    .competition_card_image{
        width: 56px !important;
        height: 55px !important;
      }
    .earned_coin{
        font-size: 1.4rem !important;
    }
    th {
        font-size: 1.2rem;
    }
    .name{
        font-size: 1.2rem !important;
    }
    .competition_option_view_btn{
        p{
            font-size: 1.2rem;
        }
    }
}
.no_data{
    padding-top: 5vh;
    text-align: center;
}
.ht{
  height: 50px !important;
}
.font_style{
  font-style: italic !important
}

.display_hiddens{
    display: none !important;
}
.mobile_hiddens{
    display: table-row !important 
}
.display_views{
    display: none !important;
}
.mobile_hid{
display: flex !important;
}
@media only screen and (max-width: 800px) { 
    .competition_layout{
        padding: 3vh 1vh;
    }
    .mobile_hid{
        display: none !important;
    }
    .display_views{
        display: flex !important;
    }
    .flex{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important
    }
    .competition_option_view_btn{
        width: 114px;
    }
    table {
        padding: 11px;
    }
    .display_hiddens{
        display: initial !important;
    }
    .mobile_hiddens{
        display: none !important 
    }
    .flex{
        display: flex !important;
        justify-content: center;
        padding-bottom: 16px !important;
    }
    td{
        padding: 0px !important;
        width: 100% !important;
        text-align: center !important;
        border: none !important;
        border-radius: 0% !important;
    }
    .td_first-child{
        border: none !important;
        border-radius: 0% !important; 
        padding-top: 13px !important;
    }
    .last{
        padding-bottom: 20px;
    }
    .h-txt{
        font-size: 1.3rem !important;
    }
    tr {
        display: grid !important;
        width: 100% !important;
        margin-top: 10px;
       align-items: center !important;
    }
    .player_detail {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px !important;
    }
    .player_detail {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}




 