<div class="tile_layout">
  <div class="title ">
    <div class="h-txt mb_25">Attack</div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
  </div>

  <div class="title ">
    <div class="h-txt mb_25">Team Play</div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
  </div>

  <div class="title ">
    <div class="h-txt mb_25">Defence</div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
  </div>

  <div class="title ">
    <div class="h-txt mb_25">Discipline</div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
    <div class="table_layout">
      <p>NAme</p>
      <div class="h-txt">233</div>
    </div>
  </div>
</div>
