<div id="section" (scroll)="onScroll($event)">
    <section class="layout_outer">
        <app-header *ngIf="isWeb" [fixed]='fixed'></app-header>
        <section class="rules_outer">
            <div class="rules_head">{{'Creating-Competitions.mainHead' | translate}}</div>
            <ul>
                <li class="rule-unorder-list">{{'Creating-Competitions.orderlist.list1' | translate}}</li>
                <li class="rule-unorder-list">{{'Creating-Competitions.orderlist.list2' | translate}}</li>
                <li class="rule-unorder-list">{{'Creating-Competitions.orderlist.list3' | translate}}</li>
                <li class="rule-unorder-list">{{'Creating-Competitions.orderlist.list4' | translate}}</li>
                <li class="rule-unorder-list">{{'Creating-Competitions.orderlist.list5' | translate}}</li>
              
            </ul>

          
            
            <div class="rule-subHead2">{{'Creating-Competitions.orderlist.list1' | translate}}</div>
            <div class="rules_wrap">
                <ol>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist.list1' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist.list2' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist.list3' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist.list4' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist.list5' | translate}}</li>

                </ol>
               
                <p>{{'Creating-Competitions.subheader1.p' | translate}}</p>
                <ol start="6">
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist2.list1' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist2.list2' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist2.list3' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist2.list4' | translate}}</li>
                    <li  class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist2.list5' | translate}}</li>
                </ol>
                <p>{{'Creating-Competitions.subheader1.p2' | translate}}</p>
                <p>{{'Creating-Competitions.subheader1.p3' | translate}}</p>
                <p>{{'Creating-Competitions.subheader1.p4' | translate}}</p>
                <ol>
                    <li class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist3.list1' | translate}}</li>
                    <li class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist3.list2' | translate}}</li>
                    <li class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist3.list3' | translate}}</li>
                    <li class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist3.list4' | translate}}</li>
                    <li class="rule-unorder-list">{{'Creating-Competitions.subheader1.orderlist3.list5' | translate}}</li>
    
    
                </ol>
                <p>{{'Creating-Competitions.subheader1.p2' | translate}}</p>
                <p>{{'Creating-Competitions.subheader1.p3' | translate}}</p>
            </div>
            <div class="rule-subHead2">{{'Creating-Competitions.orderlist.list2' | translate}}</div>
            
            <div class="rules_wrap">
               
                <p>{{'Creating-Competitions.subheader2.p1' | translate}}</p>
                <p>{{'Creating-Competitions.subheader2.p2' | translate}}</p>

           

            </div>
            <div class="rule-subHead2">{{'Creating-Competitions.orderlist.list3' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Creating-Competitions.subheader3.p1' | translate}}</p>
                <p>{{'Creating-Competitions.subheader3.p2' | translate}}</p>

            </div>
            <div class="rule-subHead2">{{'Creating-Competitions.orderlist.list4' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Creating-Competitions.subheader4.p1' | translate}}</p>
                <p>{{'Creating-Competitions.subheader4.p2' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'Creating-Competitions.orderlist.list5' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Creating-Competitions.subheader5.p1' | translate}}</p>

            </div>
        </section>
    </section>
</div>
<app-footer *ngIf="isWeb"></app-footer>
