<div class="admin_login_wrap">
    <section class="login_wrap">
        <div class="login_split_container">
            <p>{{currentAction=='update'?'Change':'Create'}} your password</p>
            <p>Create a strong password for security !</p>
            <form [formGroup]="signupForm">
                <div class="form-group">
                    <label class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" autocomplete="off" placeholder="">
                  <app-admin-password-strength
                  [passwordToCheck]="signupForm.value.password"
                  (passwordStrength)="passwordValid($event)"
                  ></app-admin-password-strength>
                </div>
                <div class="form-group">
                    <label class="form-label">Re-enter password</label>
                    <input type="password" class="form-control" formControlName="reEnterPassword" autocomplete="off" placeholder="">
                    <label class="form-label invalid-feedback" *ngIf="signupForm.errors?.mismatch && (signupForm.controls['reEnterPassword'].dirty || signupForm.controls['reEnterPassword'].touched)">Passwords don't match.</label>
                </div>
                
                <button type="submit" (click)="updatePassword()" class="btn btn-primary anim_button" [disabled]="signupForm.invalid">
                  Create Password <span>>>></span>
                </button>
            </form>

            </div>
            </section>
</div>