.common_wrap_match{
    margin-top: 88px;
    .competion-head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 53px;
        text-align: left;
        .c-left{
            width: 50%;
            .c-title{
                display: flex;
                align-items: center;
                font-size: 3rem;
                font-family: Poppins-Light-Italic;
                .c-btn_width{
                    width: auto !important;
                }
                .c-btn{
                    background-color: #373e4a;
                    padding: 4px 7px;
                    text-align: center;
                    font-size: 16px;
                    align-items: center;
                    height: 40px;
                    margin: 0px 0px 0px 20px;
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    img{
                        width: 25px;
                        height: auto;
                        margin: 2px 17px 2px 0px;
                    }
                    .down-ic{
                        width: 18px;
                        height: 18px;
                        background-image: url(/assets/images/down.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    &:hover{
                        background-color: #0DB983;
                        .down-ic{
                            background-image: url(/assets/images/down-h.png);
                        } 
                    }
                }
                .c-noti{
                    min-width: 35px;
                    height: 35px;
                    background-color: #febb2e;
                    text-align: center;
                    padding-top: 8px;
                    border-radius: 5px;
                    font-size: 15px;
                    font-family: Poppins-Medium;
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 10px;
                    padding: 8px 5px 0px;
                }
                .c-status{
                    width: 35px;
                    height: 35px;
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 10px;
                    background-image: url(/assets/images/group-com.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .c-lbl{
                font-size: 1.3rem;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: -14px;
                    left: 0px;
                    height: 4px;
                    border-radius: 10px;
                    width: 80px;
                    background-color: #0DB983;
                }
            }
        }
        .c-right{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            position: relative;
            .c-btn_width{
                width: auto !important;
            }
            .c-btn{
                background-color: #373e4a;
                padding: 10px 20px;
                text-align: center;
                align-items: center;
                height: 40px;
                cursor: pointer;
                margin: 0px 0px 0px 20px;
                border-radius: 5px;
                position: relative;
                display: flex;
                justify-content: space-between;
                img{
                    width: 18px;
                    height: auto;
                    margin: 2px 17px 2px 0px;
                }
                .down-ic{
                    width: 18px;
                    height: 18px;
                    margin-left: 12px;
                    background-image: url(/assets/images/down.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &:hover{
                    background-color: #0DB983;
                    .down-ic{
                        background-image: url(/assets/images/down-h.png);
                    } 
                }
            }
            .custm-drop{ 
                top: 65px;
                right: 1px;
                z-index: 1;
            }
            .filter-drop{
                right: 0px !important;
            }
        }
    }
.competition_card_layout{
        display: flex;
        margin-top: 25px;
        position: relative;
        padding: 2vh 4vh;
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
        background-color: #272a35;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        .competition_detail_layout{
            display: block;
            .card-title{
                font-family: Poppins-Light-Italic;
                margin: auto;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.8rem;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 0px;
                    width: 27px;
                    height: 10px;
                    background-image: url(/assets/images/dots.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: -18px;
                }
                span{
                        margin-left: 7px;
                        font-family: Poppins-Light;
                        font-weight: 100;
                        color: hsla(0,0%,100%,.5);
                }
                b{
                    word-break: break-all;
                }
            }
            .card-tag{
                background-color: #FEBB2E12;
                color: #FEBB2E;
                position: relative;
                padding: 3px 25px;
                margin: 15px 0px;
                border-radius: 20px;
                display: inline-block;
                &::before{
                    width: 10px;
                    height: 10px;
                    background-color: #FEBB2E;
                    border-radius: 50%;
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 10px;
                }
            }
            .card-tag.championship{
                color: #FE6E2E;
                background-color: rgb(254 110 46 / 7%);
            }
            .card-tag.championship::before{
                background-color: #FE6E2E;
            }
            .details{
                font-family: Poppins-Light;
                font-weight: 100;
                font-size: 1.5rem;
                color: hsla(0,0%,100%,.5);
            }
        }
        .card-play{
            border-radius: 9px;
            .team{
                display: flex;
                justify-content: space-evenly;
                // background-color: #181e28;
                border-radius: 10px;
                // padding: 15px 0px;
                .c-team{
                    width: calc(50% - 10px);
                    text-align: center;
                    padding: 13px;
                    .team-name{
                      font-family: Poppins-Light;
                      text-align: center;
                      padding-top: 7px;
                      text-transform: capitalize;
                      color: rgba(187, 35, 35, 0.6);
                      width: 72px;
                      white-space: nowrap;
                      margin: 0 auto;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      font-size: 13px;
                      text-align: center;
                    }
                    .t-icon{
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        border-radius: 50%;
                        border: 5px solid #3f444d;
                        background-color: white;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .sts{
                    width: 40px;
                    text-align: center;
                    padding-top: 15px;
                    .red{
                        color: red;
                    }
                    .green{
                        color: green;
                    }
                }
                .cors{
                    font-size: 20px;
                    font-family: Poppins-SemiBold;
                    margin-top: 15px;
                }

            }
            .teams{
                display: flex;
                justify-content: space-evenly;
                background-color: #23262e;
                border-radius: 10px;
                border: 2px solid #272d37;
                .c-team{
                    width: 100%;
                    text-align: center;
                    padding: 15px;
                    .team-name{
                        font-family: Poppins-Light;
                        text-align: center;
                        padding-top: 12px;
                        text-transform: capitalize;
                        color: rgba(255, 255, 255, 0.6);
                        width: 89px;
                        white-space: nowrap;
                        margin: 0 auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 12px;
                    }
                    .t-icon{
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        border-radius: 50%;
                        border: 5px solid #3f444d;
                        background-color: white;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .sts{
                    width: 40px;
                    text-align: center;
                    padding-top: 15px;
                    .red{
                        color: red;
                    }
                    .green{
                        color: green;
                    }
                }
                .cors{
                    font-size: 20px;
                    font-family: Poppins-SemiBold;
                    margin-top: 33px;
                }
            }
        }
        .viewers{
            display: flex;
            justify-content: center;
            .card-view{
                width: 30px;
                height: 30px;
                margin: 10px;
                border-radius: 50%;
                border: 1px solid white;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(/assets/images/user.jpg);
            }
            .card-nbr{
                border-radius: 20px;
                border: 1px solid white;
                height: 25px;
                padding: 4px 10px;
                margin-top: 13px;
                text-align: center;
                font-size: 12px;
            }
        }
        .block_cont:nth-child(1){
           white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 15%;
        }
        .block_cont:nth-child(2){
           white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 10%;
        }
        .block_cont:nth-child(3){
           white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 16%;
        }
        .block_cont:nth-child(4){
           white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 10%;
        }
        .block_cont:nth-child(5){
           white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 20%;
        }
        .block_cont:nth-child(6){
           white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 10%;
        }
    }

}
.competition_option_view_btn{
    padding: 8px 14px;
    min-width: 85px !important;
    cursor: pointer;
    margin: 0vh 2vh;
    border-radius: 6px;
    background-color: #343741;
    display: table;
    text-align: center;
    p{
        display: table-cell;
        vertical-align: middle;
        font-family: Poppins-Light;
        font-size: 1.6rem;
    }
    }
    .view_btns{
      background-color: #434851 !important;
    }
    .view_btn{
      background-color: #3eb983 !important;
  }
  .ml_10{
    margin: 0px 10px !important;
  }
.earned_point{
    background-color: #122F2F !important;
    p{
        color: #0db983 !important;
        font-weight: bold;
    }
}
.align_center{
    justify-content: center !important;
}
.outer_flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.view_btn{
    background-color: #3eb983 !important;
}
.heading_2{
    font-size: 2.0rem;
    font-family: Poppins-Light-Italic;
}
.btn_name{
  font-size: 1.4rem !important;
}
.pl-16{
  padding: 0px 16px !important;
}
.dot{
  margin-bottom: 10px;
  width: 27px;
  height: 10px;
  background-image: url(/assets/images/dots.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: -12px;
}
.heading_3{
    font-size: 1.2rem;
    position: relative;
    padding-top: 9px;
    color: rgba(255, 255, 255, 0.5);
}
.follow_detail_layout{
    display: flex;
    align-items: center;
}
.mt_50{
    margin-top: 50px;
}
.slide{
    margin: 0 23px;
}
.competion{
    display: flex;
    width: 100%;
    margin-top: 57px;
    justify-content: center;
    .card{
        width: 300px;
        height: 100%;
        background-color: rgba(25, 31, 43, 0.61);
        text-align: center;
        padding: 32px 25px;
        border-radius: 5px;
        position: relative;
        .card-title{
          font-family: Poppins-Light-Italic;
          margin: auto;
          font-size: 1.4rem;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis !important;
            &::before{
                content: "";
                width: 144px;
                height: 33px;
                position: absolute;
                top: 2px;
                left: calc(50% - 72px);
                opacity: 0.1;
                background-image: url(/assets/images/card-title.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            b{
                word-break: break-all;
            }
        }
        .card-tle{
            &::before{
                height: 30px;
                top: -3px;
            }
        }
        .card-tag{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 10% auto 0px;
            .tag{
                font-size: 12px;
                &:nth-child(1){
                    background-color: #FEBB2E12;
                    color: #FEBB2E;
                    position: relative;
                    padding: 3px 10px 3px 25px;
                    border-radius: 20px;
                    &::before{
                        width: 10px;
                        height: 10px;
                        background-color: #FEBB2E;
                        border-radius: 50%;
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 10px;
                    }
                }
            }
            .red{
                &:nth-child(1){
                    color: #FE6140;
                    background-color: rgba(254, 97, 64, 0.1);
                    &::before{
                        background-color: #FE6140;
                    }
                }
            }
        }
        .card-icon{
            width: 100%;
            height: 113px;
            border-radius: 9px;
            position: relative;
            overflow: hidden;
            margin: 7% auto;
            background-image: url(/assets/images/card.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            .card-lay {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                bottom: 0px;
                left: 0px;
                display: flex;
                justify-content: space-around;
                padding: 5px 0px;
                .c-day{
                    width: 50%;
                    text-align: center;
                    &:nth-child(1){
                        &::before{
                            width: 2px;
                            height: 60%;
                            background-color: white;
                            content: "";
                            position: absolute;
                            top: 20%;
                            right: 50%;
                        }
                    }
                }
            }
        }

        .date-box{
            display: flex;
            margin: auto;
            width: 167px;
            .d-box{
                border-radius: 3px;
                border: none;
                font-size: 1.2rem;
                margin: 0 auto;
                padding: 10px 0px 0px;
            }
            .d-dot {
                padding: 6% 5% 0%;
            }
            .d-bg{
                background-color: #292f39;
                border: none;
            }
        }
        .coast{
            font-family: Poppins-Light;
            font-size: 1.3rem;
            text-align: center;
            margin: 5% auto;
            padding-top: 15px;
            span{
                color: #FE6E2E;
            }
        }
        .prize{
            color: #0DB983;
            font-family: Poppins-bold;
            background-color: #0DB98324;
            width: 100%;
            border-radius: 5px;
            padding: 10px 0px;
            margin: 0% auto;
        }
        .viewers{
            display: flex;
            justify-content: center;
            margin-top: 15px;
            .card-view{
                width: 30px;
                height: 30px;
                margin: 10px;
                border-radius: 50%;
                border: 1px solid white;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(/assets/images/user.jpg);
            }
            .card-nbr{
                border-radius: 20px;
                border: 1px solid white;
                height: 25px;
                padding: 4px 10px;
                margin-top: 13px;
                font-size: 12px;
            }
        }
        .card-hover{
            background-image: linear-gradient(#0DB98333,#0DB983, #0C7755);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            padding-top: 80%;
            border-radius: 5px;
            display: none;
            .hover-btn {
                width: 150px;
                border: 2px solid white;
                border-radius: 5px;
                margin: 0px auto 15px;
                padding: 15px 0px;
                cursor: pointer;
                font-family: Poppins-Medium;
                &:nth-child(2){
                    color: #0DB983;
                    background-color: white;
                }
            }
        }
        &:hover{
            .card-hover{
                display: block;
            }
        }
    }
}
ngx-slick-carousel::ng-deep{
    .slick-prev{
        background-image: url(/assets/images/left-btn.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 20px;
        left: -35px;
        &::before{
            content: none;
        }
    }
    .slick-next{
        background-image: url(/assets/images/right-btn.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 20px;
        right: -35px;
        &::before{
            content: none;
        }
    }
}
.mt_120{
    margin-top: 120px;
}

@media only screen and (max-width: 1600px) {
  .c-title{
    font-size: 2.4rem;
  }
  .btn_name{
    font-size: 1.2rem !important;
  }
  .card-title{
    font-size: 1.4rem !important
  }
  .details{
    font-size: 1.3rem !important
  }
  .competition_option_view_btn{
    p{
      font-size: 1.3rem !important
    }
  }
  .team-name{
    font-size: 11px !important
  }
  .block_cont:nth-child(1){
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 20% !important;
 }
 .block_cont:nth-child(2){
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 13% !important;
 }
 .block_cont:nth-child(3){
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 20% !important;
 }
 .block_cont:nth-child(4){
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 17% !important;
 }
 .block_cont:nth-child(5){
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 20% !important;
 }
 .block_cont:nth-child(6){
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 10% !important;
 }
}



@media only screen and (max-width: 1300px) {
    .t-icon {
        width: 40px !important;
        height: 40px !important;
    }

    .team-name{
        width: 66px !important;
    }

    .competition_card_layout {
        padding: 2vh 2vh !important;
        }

        .competition_option_view_btn{
            p{
              font-size: 1.3rem !important
            }
          }

          .block_cont:nth-child(6){
            white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             width: 25% !important;
         }
}
.display_hiddens{
    display: none !important;
}
.mobile_hiddens{
    display: initial !important 
}
@media only screen and (max-width: 950px) {
    
    .competion-head{
        margin-bottom: 0px !important;
    }
    .common_wrap_match .competion-head .c-right .c-btn{
        // background-color: transparent !important;
        // padding: 10px 0px !important;
        background-color: #373e4a!important;

    }
    .competion-head{
        align-items: center !important;
    }
    .display_hiddens{
        display: initial !important;
    }
    .mobile_hiddens{
        display: none !important 
    }
.common_wrap_match {
    margin-top: 39px !important;
    margin-bottom: 79px !important

}
.c-title{
    font-size: 1.8rem !important
}
.c-lbl::before{
    display: none !important
}
.mobile_hidden{
    display: none !important 
}
    .competition_option_view_btn{
        margin: 0px !important;
    }
    .bor_none{
        border-radius: 0px !important;
    }
    .competition_card_layout{
        display: block !important;
    }
    .border_none{
        border-radius: 0px !important;
    }
    .dot{
        margin-bottom: 10px;
         width: auto !important;
        height: 8px !important;
    }
    .block_cont:nth-child(1){
        white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             width: 100% !important;
             text-align: center !important;
             margin-bottom: 8px !important
            }
     .block_cont:nth-child(2){
        white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             width: 100% !important;
            }
     .block_cont:nth-child(3){
        white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             width: 100% !important;
            }
     .block_cont:nth-child(4){
        white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             width: 100% !important;
             margin-bottom: 17px !important;
            }
     .block_cont:nth-child(5){
        white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             width: 100% !important;
            }
     .block_cont:nth-child(6){
        white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
         width: 100% !important;
         display: flex !important;
         justify-content: center !important;
     }
    }