


<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-icon name="power" style="float: right;
    margin-right: 16px;
    margin-top: 14px;
    font-size: 22px;"></ion-icon>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLe5PABjXc17cjIMOibECLM7ppDwMmiDg6Dw&usqp=CAU" alt="">
    <h6>NAME</h6>
    <p>Moblie Number</p>
    <p>Email Id</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row>
  <ion-col size="12">
    <ion-card>

      
     

      <hr>
      <h5>Intersts</h5>
      <ion-chip color="success">
        <ion-label>cycling</ion-label>
      </ion-chip>
      
      </ion-card>
      <h5>Eligible Courses</h5>
      <ion-chip color="success">
        <ion-label>Computer Science</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-label>ECE</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-label>EEE</ion-label>
      </ion-chip>

      <ion-card>
     
        <h5>Educational Qualifications</h5>
        <hr style="background: orange; width: 60%;">
       <ion-row>
         <ion-col size="3">   <img src="./assets/images/courses.png" style="margin-top: -15px;
          width: 56px;"></ion-col>
         <ion-col size="9">
           <p class="paragraph">KMEA ENGINEERING COLLEGE</p>
           <p class="paragraph">Location</p>
          
            </ion-col>
           

            <ion-col size="3">   <img src="./assets/images/courses.png" style="margin-top: -15px;
              width: 56px;"></ion-col>
             <ion-col size="9">
               <p class="paragraph">KVM ENGINEERING COLLEGE</p>
               <p class="paragraph">Location</p>
                </ion-col>
       </ion-row>
        
        </ion-card>
  </ion-col>
</ion-row>
</ion-content>
