<mat-tab-group>
    <mat-tab label="Info"> 
        <app-customers-details></app-customers-details>
    </mat-tab>
    <mat-tab label="Product List">
        <app-customers-productlist></app-customers-productlist>
    </mat-tab>
    <mat-tab label="Catalogue">
        <app-customers-catelogue></app-customers-catelogue>

     </mat-tab>
    <mat-tab label="Catalogue Histroy"> 
        <app-customers-catelogue-history></app-customers-catelogue-history>

    </mat-tab>

  </mat-tab-group>

<!-- 
<div class="tabset">
   
    <input type="radio" name="tabset" id="tab1" aria-controls="info" checked>
    <label for="tab1">Info</label>
    <input type="radio" name="tabset" id="tab2" aria-controls="Product-List">
    <label for="tab2">Product List</label>
    <input type="radio" name="tabset" id="tab3" aria-controls="Catalogue">
    <label for="tab3">Catalogue </label>

    <input type="radio" name="tabset" id="tab4" aria-controls="Catalogue-Histroy">
    <label for="tab4">Catalogue Histroy</label>
    <div class="tab-panels">
        <section id="info" class="tab-panel">
           
            <app-customers-details></app-customers-details>
        </section>
        <section id="Product-List" class="tab-panel">
            <app-customers-productlist></app-customers-productlist>

        </section>
        <section id="Catalogue" class="tab-panel">
            <app-customers-catelogue></app-customers-catelogue>

        </section>
        <section id="Catalogue-Histroy" class="tab-panel">
            <app-customers-catelogue-history></app-customers-catelogue-history>

        </section>

    </div>

</div> -->