<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <p>Video intervierw link has been sent to email id</p>
        <p style="   color: #b9b6b6ab;">9.00pm</p>
      </ion-card>
      <hr>
      <ion-card>
        <p>Video intervierw link has been sent to email id</p>
        <p style="   color: #b9b6b6ab;">9.00pm</p>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
