<div class="container_layout">
    <div class="row">
        <div class="col-xl-12 col-md-4 create_layout">
            <p class="font-medium"> Add Branches</p>
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label"> Code</label>
                    <input type="text"  autocomplete="on"
                        formControlName="productList" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Branch</label>
                    <input type="text"  autocomplete="on"
                        formControlName="productList" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="form-label">State</label>
                    <input type="text"  autocomplete="on"
                        formControlName="productList" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Branch Manager</label>
                    <input type="text"  autocomplete="on"
                        formControlName="productList" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Region</label>
                    <input type="text"  autocomplete="on"
                        formControlName="productList" class="form-control" />
                </div>
             
                <div class="col-sm-4 offset-8" >
                        <button  class="btn btn-primary" >Add Branch</button>
                   
                </div>
             
            </div>


        </div>
    </div>
</div>