    <div class="add-expand" [ngClass]="{'profiles': class==1}">
            <ul>
                <li>
                    <input type="file" id="file" (change)="handleFileInput($event.target.files)" accept="image/x-png,image/jpeg">
                    <div class="a-icon"></div>
                    {{'profileMenu.uploadpic' | translate}}
                </li>
                <li (click)="onRemove()"><div class="a-icon" ></div>  {{'profileMenu.removepic' | translate}}</li>
            </ul>
        </div>