
ion-toolbar {
   
    --background: linear-gradient(
        -45deg
        , #ff8605 0%, #fabf37 100%) !important;
        border-bottom-right-radius: 70px;
        height: 143px;
}
ion-title{
    color: white;
    font-weight: bold;
    margin-top: 50px;
}
.heading {
    text-align: center;
    font-weight: bold;
    color: white;
    // margin-top: 69px;
}
.container{
    padding: 10px;
}
p {
    margin-left: 18px;
    color: #939090;
    font-weight: bold;
}
.paragraph{
    text-align: left;
   
    color: rgb(0, 0, 0);
}
.center {
    margin: 33px;
    margin-top: 22%;
}

[linespace] {
    height: 30px;
}
ion-button{
   --background: linear-gradient(
-45deg
, #ff8605 0%, #fabf37 100%);
}
.ion-button-class {
    // background-image: linear-gradient(-45deg, #e65e85 0%, #431d12 100%) !important;
    background-image: linear-gradient(
-45deg
, #ff8605 0%, #fabf37 100%);
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 35px;
    width: 100%;
    padding: 20px;
    color: white;
    border-radius: 11px;
    font-size: 17px;
}
.form-control{
    width: 100%;
    padding: 17px;
    /* margin-left: 13px; */
    /* margin-right: -101px; */
    border: none;
}
img {
    width: 117px;
    margin: 0 auto;
    display: block;
}
h6{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  
}
h5{
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-left: 15px;
}
img{
    width: 117px;
    margin-top: 10%;
    display: block;
    // position: absolute;
    // margin-top: -61px;
    // margin-left: 114px;
    border-radius: 23px;
}
ion-header {
    display: block;
    position: initial;
}