<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Find Course  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-row>
     <p>Search your Institues,Courses for Addmission</p>


    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-card>
          <select name="" id="" class="form-control"></select>
        </ion-card>
        <ion-card>
          <select name="" id="" class="form-control"></select>
        </ion-card>
        <ion-card>
          <select name="" id="" class="form-control"></select>
        </ion-card>
      
        <ion-button expand="full" routerLink="searchlist">Search</ion-button>
      </ion-col>
     
    </ion-row>
  </div>
 
</ion-content>
