<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <p>{{productListName}}</p>
        </div>
        <div class="col-sm-4">
      

            <div class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search Products" />
            </div>
        </div>
        <div class="col-sm-1 offset-6">
         <i class="fas fa-times"></i>

        </div>



    </div>
    <table class="sortable">
        <thead>
            <tr>
                <th class="text-center" width='15%'>
                  Product Code
                </th>
                <th width='25%'>Description
                </th>
                <th width='15%'>Category
                </th>
                <th width='15%'>UOM
                </th>
                <th width='25%'>Unit Cost
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of test_data">
              <td class="text-center" width='15%' >
                {{s.ProdcutCode}}
              </td>
              <td  width='25%'>{{s.description}}</td>
              <td  width='15%'>{{s.categroy}}</td>
              <td  width='15%'>{{s.UOM}}</td>
              <td  width='25%'>{{s.UnitCost}}</td>
              </tr>
        </tbody>

    </table>
</div>