<div class="trapezoid ">
    <p>Scheduler</p>
</div>
<div class="container_layout">
    <div class="row">
        <div class="col-xs-12 col-md-4 create_layout">
            <div class="card">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="paragraph-Scheduler">Scheduler Status</p>
                        <h6 class="status">RUNNING</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="paragraph-Scheduler">Last Updated</p>
                        <h6 class="updated-status">10/01/2020</h6>
                    </div>
                    <div class="col-sm-6">

                    <button class="btn btn-warning"><i class="fas fa-pause"></i> &nbsp; Pause</button>
                    </div>

                </div>
            </div>
            <div class="card card-section">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="paragraph-Scheduler">Monthly scheduled date</p>
                  
                    </div>
                    <div class="col-sm-6">
                        <input type="time" class="form-control" placeholder="time" id="timepicker">
                    </div>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="dateepicker">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>