.strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }
  
  .point:last-of-type {
    margin: 0 !important;
  }
  
  .point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 1px;
    margin-right: 4px;
    width: 30px;
  }

  .strength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info_Wrap{
      font-size: 1.4rem;
      margin: 0;
      margin-top: 5px;
      color: white;
      cursor: pointer;
      position: relative;
      font-family: Poppins-Light;
      font-style: italic;
      .password_info_box{
        position: absolute;
        display: none;
        right: 0;
        z-index: 1;
        background-color: #080808bf;
        padding: 1rem;
        border-radius: 5px;
        top: 1.8rem;
        backdrop-filter: blur(9px);
      }
    }
    .info_Wrap:hover{
      .password_info_box{
        display: block;
      }
    }
  }
  