<div class="strength">
    <ul class="strengthBar">
        <li class="point" [style.background-color]="bar0"></li>
        <li class="point" [style.background-color]="bar1"></li>
        <li class="point" [style.background-color]="bar2"></li>
        <li class="point" [style.background-color]="bar3"></li>
    </ul>
    <div *ngIf="info && msg" class="info_Wrap">{{msg}}<span>?</span>
        <div class="password_info_box">
            <span>{{'password.msg1' | translate}}
          
          <br>
          {{'password.msg2' | translate}}
          <br>
          {{'password.msg3' | translate}}
          <br>
          {{'password.msg4' | translate}}
          <br>
          {{'password.msg5' | translate}}
        
      </span>
        </div>
    </div>
</div>