<div class="product_view_layout">
    <div class="product_view_heading">
        <div class="product_view_title font_large">
            All Products
        </div>
        <div class="search_layout">
            <div class="search_logo"></div>
            <div class="search_input">
              <input type="text" placeholder="Search">
            </div>
          </div>
    </div>
    <div>
        <table class="sortable">
            <thead>
              <tr>
                <th class="text-center" width='5%'>
                    <input type="checkbox" name="" id="" (click)='onSelectall()'>
                </th>
                <th width='15%'>Product Code
                    <span class="sort"></span>
                </th>
                <th width='30%' >Discription
                    <span class="sort"></span>
                </th>
                <th width='10%' >Category 
                    <span class="sort_filter" (click)='onFilterClick(1)'></span>
                    <app-table-filter-option [filterArrayDetail]='categoryFilter' (onSubmitFIlter)='onFilterApply($event)' (onCancel)="onCancelFIlter()" *ngIf='onFilter === 1'></app-table-filter-option>
                </th>
                <th width='10%' >UOM
                    <span class="sort_filter"(click)='onFilterClick(2)'></span>
                    <app-table-filter-option [filterArrayDetail]='uomFilter' (onSubmitFIlter)='onFilterApply($event)' (onCancel)="onCancelFIlter()" *ngIf='onFilter === 2'></app-table-filter-option>
                </th>
                <th width='25%'>Unit Cost
                    <span class="sort"></span>
                </th>
                <th width='5%'>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let product of test_data'>
                <td class="text-center" width='5%'>
                    <input type="checkbox" name="" id="" [checked]=product.checked>
                </td>
                <td width='15%' data-column="Product Code">{{product.code}}</td>
                <td width='30%'data-column="Discription">{{product.name}}</td>
                <td width='10%' data-column="Category">{{product.category}}</td>
                <td width='10%' data-column="UOM">{{product.uom}}</td>
                <td width='25%' data-column="Unit Cost">{{product.cost}}</td>
                <td width='5%'>
                    <span class="more_option_dot" [matMenuTriggerFor]="menu"></span>
                     <mat-menu #menu="matMenu">
                <button mat-menu-item class="font_medium">Update</button>
                <button mat-menu-item class="font_medium">Delete</button>
                </mat-menu>
                </td>
              </tr> 
              
            </tbody>
          </table>
          <app-table-pagination-footer></app-table-pagination-footer>
    </div>
</div>
