<section class="common_wraps">
    <div class="foot-menu">
        <div class="f-menu">
            <ul>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <li>About us</li>
                <li>Contact Us</li>
                <li>Help & Support</li>
            </ul>
        </div>
        <div class="f-share">
            <div class="share-icon"></div>
            <div class="share-txt">Share to your Friends</div>
        </div>
    </div>
</section>