<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <div class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search Products" />
            </div>
        </div>
        <div class="col-sm-6 offset-2">
            <button class="btn-group">Share</button>

            <button class="btn-group">Refresh</button>




        </div>
    </div>
    <table class="sortable">
        <thead>
            <tr>
                <th class="text-center" width='15%'>
                  Product Code
                </th>
                <th width='25%'>Description
                    <span class="sort"></span>
                </th>
                <th width='15%'>Category
                    <span class="sort"></span>
                </th>
                <th width='25%'>UOM
                    <span class="sort"></span>
                </th>
                <th width='25%'>Unit Cost
                    <span class="sort"></span>
                </th>
                <th width='5%'>
                   
                </th>
            </tr>
        </thead>
        <tbody>
            <tr >
              <td class="text-center" width='15%'>
                
              </td>
              <td  width='25%'></td>
              <td  width='15%'></td>
              <td  width='25%'></td>
              <td  width='25%'></td>
              <td  width='5%'></td>

              </tr>
        </tbody>

    </table>
    <app-table-pagination-footer></app-table-pagination-footer>

</div>