<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <button routerLink="/navigaiondrawer">s</button> -->
      <!-- <IonMenuButton> </IonMenuButton> -->
      <!-- <ion-menu-button auto-hide="false"></ion-menu-button> -->

      <!-- <ion-icon name="arrow-back-sharp"></ion-icon> -->
      <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>
    </ion-buttons>

    <ion-title>NSPOT</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="    color: #0000007d;
background: #f4f4f4;
">
    <ion-col size="12">
      <h4 style="text-align: center;
        color: #00000096;
        font-family: 'Poppins';
        font-weight: bold;">Gallery</h4>

    </ion-col>
  </ion-row>

  <!-- <ion-row >
    <ion-col size="6">Name :</ion-col>
    <ion-col size="6">{{instituteDetails.name}}</ion-col>
    <ion-col size="6">Email :</ion-col>
    <ion-col size="6">{{instituteDetails.email}}</ion-col>
    <ion-col size="6">Name of Principal :</ion-col>
    <ion-col size="6">{{instituteDetails.principalName}}</ion-col>
    <ion-col size="6">Number of the contact person :</ion-col>
    <ion-col size="6">{{instituteDetails.officialMobile}}</ion-col>
  
  </ion-row> -->
 
  <ion-row>
    <ion-col size="12">
      <ion-card *ngFor="let item of galleryiamges">
        <img src="https://nspot-server.herokuapp.com/{{item.galleryFile}}" style="width: 100%;" alt="" />
        <h5>{{item.galleryLabel}}</h5>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-card>
        <p>Add New Gallery image</p>
        <hr>
        <ion-item>
          <ion-label position="floating">Image Description</ion-label>
          <ion-input [(ngModel)]="iamgedes"></ion-input>
        </ion-item>
        <ion-item>
          <input type="file" (change)="fileimage($event)">
        </ion-item>
        <button class="btn btn-primary" (click)="submit()">
          <!-- <ion-icon name="plus-outline"></ion-icon> -->
          Add
        </button>
      </ion-card>
    </ion-col>


  </ion-row>

</ion-content>