<ion-header>
  <ion-toolbar>
    <ion-title>applied-courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <p>Course Name</p>
        <p class="location">Institute Name </p>
        <p class="staus">Waiting to approval </p>

      </ion-card>
    </ion-col>
    <hr>
    <ion-col size="12">
      <ion-card>
        <p>Course Name</p>
        <p class="location">Institute Name </p>
        <p class="staus">Approved </p>
        <button class="payment" (click)="payfees()">Pay Fees</button>
      </ion-card>
    </ion-col>
    <hr>

    <ion-col size="12">
      <ion-card>
        <p>Course Name</p>
        <p class="location">Institute Name </p>
        <p class="staus">Waiting to Payment </p>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
