.product_view_layout{
    .product_view_heading{
        display: flex;
        align-items: center;
        padding: 10px 0px;
        position: relative;
        .product_view_title{
            font-weight: 500;
            color: #181818;
        }
        .product_view_inactive{
            display: flex;
            align-items: center;
            margin-left: 45px;
            span{
                margin-left: 4px;
                font-weight: 300;
            }
        }
        .dropdown{
            height: 32px;
            padding: 0px 12px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 1px solid #272833 !important;
            border-radius: 5px;
            position: absolute;
            right: 0px;
           .down_arrow{
                background-image: url(/assets/images/arrow-drop-down.svg);
                background-repeat: no-repeat;
                background-position: center right;
                cursor: pointer;
                background-size: cover;
                width: 24px;
                height: 6px;
                display: block;
                margin-top: 2px;
            }
        }
    }
}

::ng-deep .mat-menu-content {
    padding: 0px !important;
    }
::ng-deep .mat-menu-item {
    height: 42px !important;
    line-height: 42px !important;
    padding: 0px 12px !important;
    font-size: 12px !important;
    }