<section class="login_wrap password_wrap">
  <div class="login_split_container">
    <p *ngIf="currentAction ==='Create'">{{'forms.createyourpassword' | translate}}</p>
    <p *ngIf="currentAction ==='update'">{{'forms.updateyoutpassword' | translate}}</p>
    <p>{{'forms.strongpasswordcreate' | translate}}</p>
    <form [formGroup]="signupForm">
        <div class="form-group">
            <label class="form-label"> {{'forms.createyourpassword' | translate}}</label>
          <input type="password" class="form-control" formControlName="password" autocomplete="off" placeholder="">
          <app-password-strength
          [passwordToCheck]="signupForm.value.password"
          (passwordStrength)="passwordValid($event)"
          ></app-password-strength>
        </div>
        <div class="form-group">
            <label class="form-label">{{'forms.renterpassword' | translate}}</label>
            <input type="password" class="form-control" formControlName="reEnterPassword" autocomplete="off" placeholder="">
            <label class="form-label invalid-feedback" *ngIf="signupForm.errors?.mismatch && (signupForm.controls['reEnterPassword'].dirty || signupForm.controls['reEnterPassword'].touched)">Passwords don't match.</label>
        </div>
        
        <button type="submit" (click)="updatePassword()" class="btn btn-primary anim_button" [disabled]="signupForm.invalid">
          {{'forms.passwordcreate' | translate}} <span>>>></span>
        </button>
    </form>
  </div>
    
</section>



