<div class="squad_layout">

    <div class="squad_card" *ngFor = 'let item of data'>
        <div class="single-head "> 
            <div class="head-icon"> 
              <div class="competition_card_image">
                <div class="client_avatar client-name" *ngIf="!item.photo">
                  {{item.name | slice:0:1}}
                </div>
                <img class="client_avatar" *ngIf="item.photo"  [src]="(envurl +'/v1/image?url=' + item.photo)" /> 
            </div>
            </div>
            <div class="head-txt ">
                <div class="h-txt">{{item.name}}</div>
                <p>{{item.position}} </p>
            </div>
          </div>
          <div class="table_layout">
            <p>Nationality </p>
            <div class="h-txt">{{item.country}}</div>
          </div>
          <div class="table_layout" style="display: none;">
            <p>Appearances </p>
            <div class="h-txt">{{item.number}}</div>
          </div>
          <div class="table_layout" style="display: none;">
            <p>Goals </p>
            <div class="h-txt">00</div>
          </div>
    </div>

</div>