<div class="pop_close" (click)="closePop()"></div>
<section class="terms_pop_out">
    <section class="rules_outer">
        <div class="rules_head">{{'tAndC.mainHead' | translate}}</div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec1.title' | translate}}</h1>
            <p>{{'tAndC.sec1.p' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec2.title' | translate}}</h1>
            <p>{{'tAndC.sec2.p' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec3.title' | translate}}</h1>
            <p>{{'tAndC.sec3.p' | translate}}</p>
            <p>{{'tAndC.sec3.p1' | translate}}</p>
            <ul>
                <li>{{'tAndC.sec3.l1' | translate}}</li>
                <li>{{'tAndC.sec3.l2' | translate}}</li>
                <li>{{'tAndC.sec3.l3' | translate}}</li>
                <li>{{'tAndC.sec3.l4' | translate}}</li>
                <li>{{'tAndC.sec3.l5' | translate}}</li>
                <li>{{'tAndC.sec3.l6' | translate}}</li>
                <li>{{'tAndC.sec3.l7' | translate}}</li>
            </ul>
            <p>{{'tAndC.sec3.p2' | translate}}</p>
            <p>{{'tAndC.sec3.p3' | translate}}</p>
            <p>{{'tAndC.sec3.p4' | translate}}</p>
            <p>{{'tAndC.sec3.p5' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec4.title' | translate}}</h1>
            <h3>{{'tAndC.sec4.subTitle' | translate}}</h3>
            <p>{{'tAndC.sec4.p' | translate}}</p>
            <p>{{'tAndC.sec4.p1' | translate}}</p>
            <p>{{'tAndC.sec4.p2' | translate}}</p>
            <h3>{{'tAndC.sec4.subTitle1' | translate}}</h3>
            <p>{{'tAndC.sec4.p3' | translate}}</p>
            <p>{{'tAndC.sec4.p4' | translate}}</p>
            <p>{{'tAndC.sec4.p5' | translate}}</p>
            <h3>{{'tAndC.sec4.subTitle2' | translate}}</h3>
            <p>{{'tAndC.sec4.p6' | translate}}</p>
            <h3>{{'tAndC.sec4.subTitle3' | translate}}</h3>
            <p>{{'tAndC.sec4.p7' | translate}}</p>
            <p>{{'tAndC.sec4.p8' | translate}}</p>
            <p>{{'tAndC.sec4.p9' | translate}}</p>
            <p>{{'tAndC.sec4.p10' | translate}}</p>
            <h3>{{'tAndC.sec4.subTitle4' | translate}}</h3>
            <p>{{'tAndC.sec4.p11' | translate}}</p>
            <p>{{'tAndC.sec4.p12' | translate}}</p>
            <p>{{'tAndC.sec4.p13' | translate}}</p>
            <p>{{'tAndC.sec4.p14' | translate}}</p>
            <h3>{{'tAndC.sec4.subTitle5' | translate}}</h3>
            <p>{{'tAndC.sec4.p15' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec5.title' | translate}}</h1>
            <h3>{{'tAndC.sec5.subTitle' | translate}}</h3>
            <p>{{'tAndC.sec5.p' | translate}}</p>
            <h1>{{'tAndC.sec5.subTitle1' | translate}}</h1>
            <p>{{'tAndC.sec5.p1' | translate}}</p>
            <h1>{{'tAndC.sec5.subTitle2' | translate}}</h1>
            <p>{{'tAndC.sec5.p3' | translate}}</p>
            <h1>{{'tAndC.sec5.subTitle3' | translate}}</h1>
            <p>{{'tAndC.sec5.p4' | translate}}</p>
            <p>{{'tAndC.sec5.p5' | translate}}</p>
            <p>{{'tAndC.sec5.p6' | translate}}</p>
            <p>{{'tAndC.sec5.p7' | translate}}</p>
            <h3>{{'tAndC.sec5.subTitle4' | translate}}</h3>
            <p>{{'tAndC.sec5.p8' | translate}}</p>
            <h3>{{'tAndC.sec5.subTitle5' | translate}}</h3>
            <p>{{'tAndC.sec5.p9' | translate}}</p>
            <p>{{'tAndC.sec5.p10' | translate}}</p>
            <h3>{{'tAndC.sec5.subTitle6' | translate}}</h3>
            <p>{{'tAndC.sec5.p11' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec6.title' | translate}}</h1>
            <p>{{'tAndC.sec6.p' | translate}}</p>
            <ul>
                <li>{{'tAndC.sec6.l1' | translate}}</li>
                <li>{{'tAndC.sec6.l2' | translate}}</li>
                <li>{{'tAndC.sec6.l3' | translate}}</li>
                <li>{{'tAndC.sec6.l4' | translate}}</li>
                <li>{{'tAndC.sec6.l5' | translate}}</li>
                <li>{{'tAndC.sec6.l6' | translate}}</li>
                <li>{{'tAndC.sec6.l7' | translate}}</li>
                <li>{{'tAndC.sec6.l8' | translate}}</li>
                <li>{{'tAndC.sec6.l9' | translate}}</li>
                <li>{{'tAndC.sec6.l10' | translate}}</li>
                <li>{{'tAndC.sec6.l11' | translate}}</li>
                <li>{{'tAndC.sec6.l12' | translate}}</li>
                <li>{{'tAndC.sec6.l13' | translate}}</li>
                <li>{{'tAndC.sec6.l14' | translate}}</li>
                <li>{{'tAndC.sec6.l15' | translate}}</li>
            </ul>
            <p>{{'tAndC.sec6.p1' | translate}}</p>
            <h3>{{'tAndC.sec6.subTitle1' | translate}}</h3>
            <p>{{'tAndC.sec6.p3' | translate}}</p>
            <p>{{'tAndC.sec6.p4' | translate}}</p>
            <p>{{'tAndC.sec6.p5' | translate}}</p>
            <p>{{'tAndC.sec6.p6' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec7.title' | translate}}</h1>
            <p>{{'tAndC.sec7.p' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec8.title' | translate}}</h1>
            <p>{{'tAndC.sec8.p' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec9.title' | translate}}</h1>
            <p>{{'tAndC.sec9.p' | translate}}</p>
            <p>{{'tAndC.sec9.p1' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec10.title' | translate}}</h1>
            <p>{{'tAndC.sec10.p' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec11.title' | translate}}</h1>
            <p>{{'tAndC.sec11.p' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec12.title' | translate}}</h1>
            <p>{{'tAndC.sec12.p' | translate}}</p>
            <p>{{'tAndC.sec12.p1' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec13.title' | translate}}</h1>
            <p>{{'tAndC.sec13.p' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec14.title' | translate}}</h1>
            <p>{{'tAndC.sec14.p' | translate}}</p>
            <ul>
                <li>{{'tAndC.sec14.l1' | translate}}</li>
                <li>{{'tAndC.sec14.l2' | translate}}</li>
                <li>{{'tAndC.sec14.l3' | translate}}</li>
                <li>{{'tAndC.sec14.l4' | translate}}</li>
                <li>{{'tAndC.sec14.l5' | translate}}</li>
                <li>{{'tAndC.sec14.l6' | translate}}</li>
            </ul>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec15.title' | translate}}</h1>
            <p>{{'tAndC.sec15.p' | translate}}</p>
            <h3>{{'tAndC.sec15.subTitle1' | translate}}</h3>
            <p>{{'tAndC.sec15.p1' | translate}}</p>
            <h3>{{'tAndC.sec15.subTitle2' | translate}}</h3>
            <p>{{'tAndC.sec15.p2' | translate}}</p>
            <p>{{'tAndC.sec15.p3' | translate}}</p>
            <h3>{{'tAndC.sec15.subTitle3' | translate}}</h3>
            <p>{{'tAndC.sec15.p4' | translate}}</p>
            <h3>{{'tAndC.sec15.subTitle4' | translate}}</h3>
            <p>{{'tAndC.sec15.p5' | translate}}</p>
            <h3>{{'tAndC.sec15.subTitle5' | translate}}</h3>
            <p>{{'tAndC.sec15.p6' | translate}}</p>
            <h3>{{'tAndC.sec15.subTitle6' | translate}}</h3>
            <p>{{'tAndC.sec15.p7' | translate}}</p>
            <p>{{'tAndC.sec15.p8' | translate}}</p>
            <p>{{'tAndC.sec15.p9' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec16.title' | translate}}</h1>
            <p>{{'tAndC.sec16.p' | translate}}</p>
            <p>{{'tAndC.sec16.p1' | translate}}</p>
        </div>
        <div class="rules_wrap">
            <h1>{{'tAndC.sec17.title' | translate}}</h1>
            <h3>{{'tAndC.sec17.subTitle' | translate}}</h3>
            <p>{{'tAndC.sec17.p' | translate}}</p>
            <h3>{{'tAndC.sec17.subTitle1' | translate}}</h3>
            <p>{{'tAndC.sec17.p1' | translate}}</p>
            <h3>{{'tAndC.sec17.subTitle3' | translate}}</h3>
            <p>{{'tAndC.sec17.p2' | translate}}</p>
            <h3>{{'tAndC.sec17.subTitle4' | translate}}</h3>
            <p>{{'tAndC.sec17.p3' | translate}}</p>
            <h3>{{'tAndC.sec17.subTitle5' | translate}}</h3>
            <p>{{'tAndC.sec17.p4' | translate}}</p>
            <p>{{'tAndC.sec17.p5' | translate}}</p>
            <p>{{'tAndC.sec17.p6' | translate}}</p>
        </div>
        
        
    </section>
</section>
