<div class="container">
    <h6>Customer Details</h6>
    <div class="row">

        <div class="col-sm-4">

            <label for="">Bussiness Name <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>

        <div class="col-sm-4">

            <label for="">Branch Name <span>*</span></label>
            <select class="form-control"></select>
        </div>
        <div class="col-sm-4">

            <label for="">Region <span>*</span></label>
            <select class="form-control"></select>
        </div>

        <div class="col-sm-4">

            <label for="">Customer Referance Number <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>

        <div class="col-sm-4">

            <label for="">Address<span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Customer Segment <span>*</span></label>
            <select class="form-control"></select>
        </div>
        <div class="col-sm-4">

            <label for="">Annual Sales <span>*</span></label>
            <select class="form-control"></select>
        </div>
        <div class="col-sm-4">

            <label for="">Account Manager <span>*</span></label>
            <select class="form-control"></select>
        </div>


    </div>
    <hr>
    <h6 class="heading-contact">Contact Details</h6>
    <div class="row">
        <div class="col-sm-4">

            <label for="">Primary Contact<span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Primary Mobile <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Primary Email <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Secondary Contact <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Secondary Mobile <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Secondary Email <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Office Phone <span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
    </div>
    <hr>
    <h6 class="heading-contact">Estimated Software Details</h6>
    <div class="row">
        <div class="col-sm-4">

            <label for="">Software<span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for="">Secondary Business Name<span>*</span></label>
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">
            <!-- <h6>Connection Status</h6> -->
            <div class="button-group">
                <p>Connection Status</p>
                <div class="btn-requested">Requested</div>

                <button class="btn btn-danger"> <i class="fas fa-times"></i></button>
                &nbsp;
                <button class="btn btn-success"> <i class="fas fa-check"></i></button>

            </div>
        </div>
        <div class="col-sm-4">

            <label for="">External Catalogue Code<span>*</span></label>
            <input type="number" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for=""> Catalogue Last Shared Date<span>*</span></label>
            <input type="date" class="form-control" name="" id="">
        </div>
        <div class="col-sm-4">

            <label for=""> Through Partnership<span>*</span></label>
            &nbsp;
            <br>
            <input type="checkbox" name="" id="" class="input-checkbox"> Yes
            <input type="checkbox" name="" id="" class="input-checkbox"> No
        </div>
        <div class="col-sm-4 offset-8">
            <div class="button-group">
                <p>Framework Status</p>
                <div class="btn-available">Available</div>
            </div>
        </div>


    </div>
    <hr>
   <div class="row">
       <div class="col-sm-4 offset-8">
            <button class="submit">Save</button>

       </div>
   </div>
    

</div>