<div class="pagination_layout">
    <div class="pagination_detail">
        <span class="font_small font_color">Showing</span>
        <span class="font_small font_weight">1</span>
        <span class="font_small font_weight">-</span>
        <span class="font_small font_weight">13</span>
        <span class="font_small font_color">Out</span>
        <span class="font_small font_color">of</span>
        <span class="font_small font_weight">34</span>
        <span class="left_arrow"></span>
        <span class="right_arrow"></span>
        <span class="font_small font_color">Go to page</span>
        <span>
            <input type="text" class="font_small">
        </span>
        <span class="right_arrow"></span>
    </div>
</div>