<div class="admin_login_wrap">
    <!-- <img src="/assets/images/logo.png" /> --> 
    <section class="login_wrap">
        <div class="login_split_container">
                    <div class="back_btn" [routerLink]="['/admin']">
                        <img src="/assets/images/back.svg">
                        Back
                    </div>
                    <form [formGroup]="emailForm">
                        <div class="otp_outer">
                            <p>Forgot your Password ?</p>
                            <p>Don't worry resetting your password is easy. Just type in the email you are registered with HIT</p>
                            <div class="form-group">
                                <label class="form-label">Enter email</label>
                                <input type="text" formControlName="email" #input class="form-control" />
                            </div>
                            <div class="form-btn">
                                <button (click)="submitEmail()" [disabled]="emailForm.invalid" class="btn btn-primary">Send OTP
                                    <span>>>></span>
                                </button>
                            </div>
                        </div>
                    </form>
        </div>
    </section>
    </div>
