<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Colleges
    </ion-title>


    <input type="text" class="form-control" placeholder="search">
    <ion-icon name="funnel" style="    margin-left: 21px;
    font-size: 22px;
    color: #f3f0eb;" (click)="model()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-row>
      <!-- <p>Search your Institues,Courses for Addmission</p> -->


    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-card>
          <img src="assets/images/college.jpg" alt="">
          <ion-row>
            <ion-col size="8">
              <p>College Name</p>
              <p class="location">Location </p>
              <button class="button-chip">Art</button>
            </ion-col>
            <ion-col size="4">
              <div class="row" style="    display: flex;
              flex-direction: row;
              margin-top: 16px;
              color: orange;">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>

              </div>
              <p class="rating">45 Rating</p>
              <div class="row" style="      margin-top: 8px;  display: flex;
              flex-direction: column;">
                <button class="compare" routerLink="/tabs/tab1/compare" >Compare</button>
                <button class="apply" routerLink="/tabs/tab1/detailedview">Apply</button>
              </div>


            </ion-col>
          </ion-row>
        </ion-card>


      </ion-col>
      <ion-item-divider>
        </ion-item-divider>
      <ion-col size="12">
        <ion-card>
          <img src="assets/images/college.jpg" alt="">
          <ion-row>
            <ion-col size="8">
              <p>College Name</p>
              <p class="location">Location </p>
              <button class="button-chip">Art</button>
            </ion-col>
            <ion-col size="4">
              <div class="row" style="    display: flex;
              flex-direction: row;
              margin-top: 16px;
              color: orange;">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>

              </div>
              <p class="rating">45 Rating</p>
              <div class="row" style="      margin-top: 8px;  display: flex;
              flex-direction: column;">
                <button class="compare">Compare</button>
                <button class="apply">Apply</button>
              </div>


            </ion-col>
          </ion-row>
        </ion-card>


      </ion-col>
    </ion-row>
  </div>

</ion-content>