<ion-header>
  <ion-toolbar>
    <ion-title>Confirm Applications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-row>
      <ion-label>Name</ion-label>
    </ion-row>
    <ion-row>
      <p>AKHIL ASHOK</p>
    </ion-row>
    <ion-row>
      <ion-label>Qualification</ion-label>
    </ion-row>
    <ion-row>
      <p>Graducaiton</p>
    </ion-row>
    <ion-row>
      <ion-label>Looking For</ion-label>
    </ion-row>
    <ion-row>
      <p>MTECH</p>
    </ion-row>
    <ion-row>
      <ion-label>Certificates</ion-label>
    </ion-row>
    <ion-row>

      <div class="file-upload">

        <div class="image-upload-wrap">
          <input class="file-upload-input" type='file'  accept="pdf/*" />
          <div class="drag-text">
            <h3>Upload Certificates</h3>
          </div>
        </div>
        
      </div>
      
  </ion-row>
    <ion-button style="margin: 0 auto;
          display: block;
          margin-top: 11px;" expand="full" routerLink="searchlist" (click)="apply()">Apply Course</ion-button>
  </div>
</ion-content>
