.terms_pop_out{
    position: fixed;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: #202336;
    z-index: 999;
    border-radius: 10px;
    overflow-y: auto;
}
.pop_close{
    background-image: url(/assets/images/close.svg);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 5%;
    left: calc(50% - 5px);
    z-index: 999;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}