<div class="container_layout">
    <div class="row">
        <div class="col-xs-12 col-md-4 create_layout">
            <p class="font-medium">Add Product List</p>
            <form [formGroup]="CreateProductListForm">
                <div class="form-group">
                    <label class="form-label">Product List</label>
                    <input type="text" placeholder="Enter the Product Lists" autocomplete="on" formControlName="productList" class="form-control" />
                    <!-- <app-form-error [control]="CreateProductListForm.get('email')" validatorName="required">
                        Email ID is required.
                    </app-form-error> -->
                </div>
                <div class="form-group mt-20">
                    <label class="form-label">Description</label>
                    <input type="text" placeholder="Enter the Description" autocomplete="off" formControlName="description" class="form-control" />
                    <!-- <app-form-error [control]="CreateProductListForm.get('email')" validatorName="required">
                        Email ID is required.
                    </app-form-error> -->
                </div>
        
                <div class="form-btn mt-60">
                    <button [disabled]="CreateProductListForm.invalid" class="btn btn-primary" >Add Product Lists</button>
                </div>
                </form>
                

        </div>
    </div>
</div>