.container_layout{
    padding: 24px;
    .row{
        .create_layout{
            background-color: white;
            padding: 50px;
            p{
                font-weight: 500;
            }
            form{
                margin-top: 58px;
                .form-group{
                        .showHideClick{
                            width:10%;
                            height: 100%;
                            position: absolute;
                            right: 0px;
                            top: 18px;
                            cursor: pointer;
                        }
                    //     .focusInputImage{
                    //         position: relative;
                    //         input{
                    //             background-image: url(/assets/images/view.svg);
                    //         }
                    //         input:focus{
                    //             background-image: url(/assets/images/view.svg);
                    //         }
                        
                    //     .show-password{
                    //         input{
                    //             background-image: url(/assets/images/visibility.svg);
                    //         }
                    //     }
                    // }
                    .forget_password{
                        position: absolute;
                        font-size: 1.2rem;
                        right: 0px;
                        color: #0066FF;
                        text-decoration: none;
                    }
                    label{
                        font-size: 1.2rem;
                        color: #6C6C6C;
                        text-align: left;
                    }
                    input{
                        font-size: 1.2rem;
                        height: 42px;
                        padding: 15px;
                    }
                    input:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px white inset;
                    }
                    ::-webkit-input-placeholder {
                        font-size: 1.2rem;
                      }
                }
                .mt-20{
                    margin-top: 20px;
                    position: relative;
                }
                .mt-60{
                    margin-top: 60px;
                    button{
                        background-color: #18B083;
                        border: 1px solid #18B083;
                        padding: 0px 31px;
                        float: right;
                    }
                }
            }
        }
    }
}