.login_otp_layout{
    display: block;
    text-align: left;
    margin-top: 12px;
    .back_option{
        span{
            padding-left: 12px;
            color: #575860;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
    .pincode_layput{
        display: flex;
        align-items: center;
        margin-top: 158px;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        .form-control {
            display: block;
            border: 1px solid var(--color-border);
            border-radius: 0.6rem;
            padding: 0.8rem 0.75rem;
            margin: 0px 5px;
            height: 42px;
            text-align: center;
        }
        .ml_0{
            margin-left: 0px;
        }
        .mr_0{
            margin-right: 0px;
        }
    }
    .pincode_detail{
        margin-top: 10px;
        span{
            font-size: 1.2rem;
             margin-right: 6px;
        }
        .resend{
            color: #0066FF;
            cursor: pointer;
        }
    }
    .mt-60{
        margin-top: 60px;
    }
}