<div  id="section" (scroll)="onScroll($event)">
    <section class="layout_outer" >
            <app-header *ngIf="isWeb" [fixed]='fixed'></app-header>
            <section class="rules_outer">
                <div class="rules_head">{{'privacy.mainHead' | translate}}</div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec1.title' | translate}}</h1>
                    <p>{{'privacy.sec1.p' | translate}}</p>
                    <p>{{'privacy.sec1.p1' | translate}}</p>
                    <p>{{'privacy.sec1.p3' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec2.title' | translate}}</h1>
                    <p>{{'privacy.sec2.p' | translate}}</p>
                    <p>{{'privacy.sec2.p1' | translate}}</p>
                    <p>{{'privacy.sec2.p3' | translate}}</p>
                    <p>{{'privacy.sec2.p4' | translate}}</p>
                    <p>{{'privacy.sec2.p5' | translate}}</p>
                    <p>{{'privacy.sec2.p6' | translate}}</p>
                    <p>{{'privacy.sec2.p7' | translate}}</p>
                    <p>{{'privacy.sec2.p8' | translate}}</p>
                    <p>{{'privacy.sec2.p9' | translate}}</p>
                    <p>{{'privacy.sec2.p10' | translate}}</p>
                    <p>{{'privacy.sec2.p11' | translate}}</p>
                    <p>{{'privacy.sec2.p12' | translate}}</p>
                    <p>{{'privacy.sec2.p13' | translate}}</p>
                    <p>{{'privacy.sec2.p14' | translate}}</p>
                    <p>{{'privacy.sec2.p15' | translate}}</p>
                    <p>{{'privacy.sec2.p17' | translate}}</p>
                    <p>{{'privacy.sec2.p18' | translate}}</p>
                    <p>{{'privacy.sec2.p19' | translate}}</p>
                    <p>{{'privacy.sec2.p20' | translate}}</p>
                    <p>{{'privacy.sec2.p21' | translate}}</p>
                    <p>{{'privacy.sec2.p22' | translate}}</p>
                    <p>{{'privacy.sec2.p23' | translate}}</p>
                    <p>{{'privacy.sec2.p24' | translate}}</p>
                    <p>{{'privacy.sec2.p25' | translate}}</p>
                    <p>{{'privacy.sec2.p26' | translate}}</p>
                    <p>{{'privacy.sec2.p27' | translate}}</p>
                    <p>{{'privacy.sec2.p28' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec3.title' | translate}}</h1>
                    <p>{{'privacy.sec3.p' | translate}}</p>
                    <p>{{'privacy.sec3.p1' | translate}}</p>
                    <p>{{'privacy.sec3.p3' | translate}}</p>
                    <p>{{'privacy.sec3.p4' | translate}}</p>
                    <p>{{'privacy.sec3.p5' | translate}}</p>
                    <p>{{'privacy.sec3.p6' | translate}}</p>
                    <p>{{'privacy.sec3.p7' | translate}}</p>
                    <p>{{'privacy.sec3.p8' | translate}}</p>
                    <p>{{'privacy.sec3.p9' | translate}}</p>
                    <p>{{'privacy.sec3.p10' | translate}}</p>
                    <p>{{'privacy.sec3.p11' | translate}}</p>
                    <p>{{'privacy.sec3.p12' | translate}}</p>
                    <p>{{'privacy.sec3.p13' | translate}}</p>
                    <p>{{'privacy.sec3.p14' | translate}}</p>
                    <p>{{'privacy.sec3.p15' | translate}}</p>
                    <p>{{'privacy.sec3.p16' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec4.title' | translate}}</h1>
                    <p>{{'privacy.sec4.p1' | translate}}</p>
                    <p>{{'privacy.sec4.p3' | translate}}</p>
                    <p>{{'privacy.sec4.p4' | translate}}</p>
                    <p>{{'privacy.sec4.p5' | translate}}</p>
                    <p>{{'privacy.sec4.p6' | translate}}</p>
                    <p>{{'privacy.sec4.p7' | translate}}</p>
                    <p>{{'privacy.sec4.p8' | translate}}</p>
                    <p>{{'privacy.sec4.p9' | translate}}</p>
                    <p>{{'privacy.sec4.p10' | translate}}</p>
                    <p>{{'privacy.sec4.p11' | translate}}</p>
                    <p>{{'privacy.sec4.p12' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec5.title' | translate}}</h1>
                    <p>{{'privacy.sec5.p' | translate}}</p>
                    <p>{{'privacy.sec5.p1' | translate}}</p>
                    <ul>
                        <li>{{'privacy.sec5.l1' | translate}}</li>
                        <li>{{'privacy.sec5.l2' | translate}}</li>
                        <li>{{'privacy.sec5.l3' | translate}}</li>
                        <li>{{'privacy.sec5.l4' | translate}}</li>
                        <li>{{'privacy.sec5.l5' | translate}}</li>
                        <li>{{'privacy.sec5.l6' | translate}}</li>
                    </ul>
                    <p>{{'privacy.sec5.p2' | translate}}</p>
                    <p>{{'privacy.sec5.p3' | translate}}</p>
                    <p>{{'privacy.sec5.p4' | translate}}</p>
                    <p>{{'privacy.sec5.p5' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec6.title' | translate}}</h1>
                    <p>{{'privacy.sec6.p' | translate}}</p>
                    <p>{{'privacy.sec6.p1' | translate}}</p>
                    <p>{{'privacy.sec6.p2' | translate}}</p>
                    <p>{{'privacy.sec6.p3' | translate}}</p>
                    <p>{{'privacy.sec6.p4' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec7.title' | translate}}</h1>
                    <p>{{'privacy.sec7.p' | translate}}</p>
                    <p>{{'privacy.sec7.p1' | translate}}</p>
                    <p>{{'privacy.sec7.p2' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec8.title' | translate}}</h1>
                    <p>{{'privacy.sec8.p' | translate}}</p>
                    <p>{{'privacy.sec8.p1' | translate}}</p>
                    <p>{{'privacy.sec8.p3' | translate}}</p>
                    <p>{{'privacy.sec8.p4' | translate}}</p>
                </div>
                <div class="rules_wrap">
                    <h1>{{'privacy.sec9.title' | translate}}</h1>
                    <p>{{'privacy.sec9.p' | translate}}</p>
                    <p>{{'privacy.sec9.p1' | translate}}</p>
                    <p>{{'privacy.sec9.p2' | translate}}</p>
                </div>
            </section>
    </section> 
</div>
<app-footer *ngIf="isWeb"></app-footer>
