/* You can add global styles to this file, and also import other style files */

@import "styles/main.scss";
@import "styles/comments.scss";
@import "styles/rules.scss";
@import "~@ctrl/ngx-emoji-mart/picker";
@import "~ngx-sharebuttons/themes/default/default-theme";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// scrollbar style
::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin: 0 !important;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.weeercvw {
    display: block;
    position: relative;
    padding: 8px 0px;
}

.weeercvw4 {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 51px;
    top: 18px;
}

.weeercvw3 {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 53px;
    top: 9px;
}

.weeercvw2 {
    width: 72px;
    word-break: break-word;
    text-align: center;
}

.weeercvw1 {
    margin: 0 auto;
    margin-bottom: 6px;
}

.no_data_found {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;
    img {
        width: 150px;
        margin-bottom: 1rem;
    }
    p {
        a {
            color: #3eb983;
            cursor: pointer;
        }
    }
}


/* Login-register form styles */

.login_wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login_split_container {
        padding: 3rem 8rem;
        background-color: rgb(17 22 41 / 50%);
        width: 70%;
        // margin-top: 70px;
        border-radius: 8px;
        p {
            margin: 0;
        }
        p:nth-child(2) {
            // font-size: 1.8rem;
            // font-family: Poppins-Light;
            margin-bottom: 1rem;
            margin-bottom: 5vh;
        }
        p:nth-child(1) {
            font-size: 3rem;
            font-family: Poppins-Medium;
            color: #0db983;
            margin-bottom: 1.5rem;
        }
        .social_media_login {
            // margin-top: 2.5rem;
            p {
                font-size: 1.4rem;
                color: white;
                font-family: Poppins-Light;
            }
            a {
                font-size: 1.8rem;
                text-decoration: underline;
            }
            .social_buttons {
                display: flex;
                margin: 2vh 0vh 0vh 0vh;
                text-align: center;
                div {
                    border: 1px solid;
                    border-radius:6px;// 10px;
                    background-repeat: no-repeat;
                    background-size: 24px;
                    height: 45px;
                    cursor: pointer;
                    min-width: 100%;
                }
                .google{
                    width: 16px;
                   margin-top: 5px;
                   margin-right: 10px;
                     
                  }
                  .fb{
                    width: 16px;
                    margin-top: 5px;
                    margin-right: 10px;
                    
                  }
                div:nth-child(1) {
                    font-size: 1.6rem;
                    padding: 0px 35px 0px 75px;
                    line-height: 43px;
                    // background-image: url(/assets/images/google_icon.svg);
                    // background-position: 28px 9px;
                    margin-right: 2vw;
                    flex: 1;
                }
                div:nth-child(2) {
                    // width: 45px;
                    font-size: 1.6rem;
                    padding: 0px 8px 1px 43px;
                    line-height: 31px;
                    // background-image: url(/assets/images/facebook_icon.svg);
                    // background-position: 11px 9px;
                }
            }
        }
        .forgot_password {
            display: flex;
            justify-content: flex-end;
            outline: none;
            label {
                cursor: pointer;
                margin-top: 1rem;
                outline: none;
            }
        }
        .otp-input {
            // background-color: var(--primary_color) !important;
            background-color: rgb(255 255 255 / 0.15) !important;
            outline: none;
            color: black !important;
            // border: 0px solid !important;
            border: 1px solid white !important;
            margin-right: 2rem !important;
            border-radius: 10px;//13px;
            font-size: 25px;
        }
        .otp-input:focus{
            background-color: white !important;
            color: black;
        }
        .back_btn {
            cursor: pointer;
            position: relative;
            padding-left: 4rem;
            font-family: poppins-light;
            outline: none;
            img {
                position: absolute;
                left: 0;
                width: 2rem;
                top: 0;
            }
        }
    }
    .login_split_container:nth-child(1) {
        backdrop-filter: blur(5px);
        min-height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .login_split_container:nth-child(2) {
        background-color: #0db983;
        margin-top: 1rem;
        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                margin-bottom: 0rem;
                color: white !important;
                font-family: Poppins-Light;
                font-size: 1.6rem;
                font-style: italic;
            }
            a {
                border: 1px solid;
                padding: 0.5rem 2rem;
                border-radius: 4px;
                text-decoration: none;
            }
        }
    }
}

.no-records {
    width: 100%;
    text-align: center;
    padding: 25px 0px;
}

@media only screen and (max-width: 1700px) {
    .login_wrap {
        .login_split_container {
            width: 90%;
            p:nth-child(2) {
                font-size: 1.4rem;
            }
            p:nth-child(1) {
                font-size: 2rem;
            }
            .social_buttons {
                div {
                    height: 30px !important;
                    background-size: 15px !important;
                }
                div:nth-child(1) {
                    font-size: 1.2rem !important;
                    padding: 0px 24px 0px 34px !important;
                    line-height: 27px !important;
                    background-position: 10px 6px !important;
                }
            }
            .social_media_login {
                p {
                    font-size: 1.2rem;
                }
                a {
                    font-size: 1.6rem !important;
                }
            }
            .otp-input {
                width: 40px !important;
                height: 40px !important;
            }
        }
        .login_split_container:nth-child(2) {
            section {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .login_wrap {
        .login_split_container {
            padding: 2rem 8rem;
            p:nth-child(2) {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .login_wrap {
        .login_split_container {
            padding: 2rem 4rem;
            p:nth-child(2) {
                font-size: 1.2rem;
            }
        }
    }
    .form_panel {
        width: 45% !important;
    }
    .animation_panel {
        width: 55% !important;
    }
}

@media only screen and (max-width: 850px) {
    .form_panel {
        width: 100% !important;
    }
    .animation_panel {
        display: none;
    }
    .login_wrap {
        margin: 0 auto;
    }
    .login_split_container {
        margin: 0 auto;
        width: 69%;
        padding: 2rem 3rem !important;
    }
    .login_wrap .login_split_container:nth-child(1) {
        min-height: 62% !important;
        width: 69%;
    }
    .login_wrap .login_split_container:nth-child(2) {
        width: 69%;
    }
}

@media only screen and (max-width: 500px) {
    .otp-input {
        margin-right: 4px !important;
    }
    .form_panel {
        width: 100% !important;
    }
    .animation_panel {
        display: none;
    }
    .login_wrap {
        margin: 0 auto;
    }
    .login_split_container {
        margin: 2px auto 0px auto;
        width: 90%;
        padding: 2rem 3rem !important;
    }
    .login_wrap .login_split_container:nth-child(1) {
        min-height: auto !important;
        width: 90%;
    }
    .login_wrap .login_split_container:nth-child(2) {
        width: 90%;
    }
    .point {
        width: 18px !important;
    }
    .strength .info_Wrap {
        font-size: 1.2rem !important;
    }
}

.invalid-feedback {
    color: #ff5d5d;
}

// toaster_style

/* position */

.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}


/* toast styles */

.toast-title {
    font-weight: bold;
}

.toast-message {
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #ffffff;
}

.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}


/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
}

.toast-container * {
    box-sizing: border-box;
}

.toast-container .ngx-toastr {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
}

.toast-container .ngx-toastr:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */

.toast-info {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */

.toast-error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */

.toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */

.toast-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.ngx-toastr {
    background-color: #030303;
    pointer-events: auto;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-info {
    background-color: #2f96b4;
}

.toast-warning {
    background-color: #f89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
}


/* Responsive Design */

@media all and (max-width: 240px) {
    .toast-container .ngx-toastr.div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container .ngx-toastr.div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    .toast-container .ngx-toastr.div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}

@media only screen and (max-width: 500px) {
    .layout_outer {
        padding-top: 71px !important;
    }
}

// layout_style
.layout_outer {
    background-image: url(/assets/images//layout_inner.png);
    background-size: 100%;
    background-position: top;
    min-height: 100vh;
    padding-top: 140px;
    background-repeat: no-repeat;
    background-color: #101622;
}

.outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

// compotetion create styles
.competition_breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4rem 0rem 2rem 0rem;
    justify-content: space-between;
    .swap {
        section {
            background-color: #fbbb00 !important;
        }
        .championshipCrumb {
            background-color: #fe6140 !important;
        }
    }
    .sec {
        display: flex;
        flex-direction: row;
        // align-items: center;
        section {
            font-size: 1.4rem;
            padding: 0.2rem 1rem;
            background-color: #ffffff2b;
            margin-right: 0.5rem;
            cursor: pointer;
            border-radius: 3px;
            display: flex;
            align-items: center;
            img {
                width: 1rem;
                margin-left: 1rem;
            }
        }
    }
}

.go_to_previous {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 5%;
    top: 3%;
    cursor: pointer;
    img {
        width: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 1440px) {
    .common_wraps {
        padding: 0% 7% 0%;
    }
    .layout_outer {
        padding-top: 110px;
    }
}

.common_wraps {
    padding: 0% 7% 2% 7%;
}

.common_wrap {
    padding: 0vh 7%;
    .create_competition_outer {
        padding: 5vh 0vh;
        background-color: rgb(25 31 43 / 61%);
        border-radius: 25px;
        backdrop-filter: blur(4px);
        position: relative;
        overflow: hidden;
        .gradient_loader {
            height: 3px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.competition_block_header {
    text-align: center;
    span {
        font-size: 1.4rem;
        color: rgb(255 255 255 / 50%);
    }
    p {
        margin: 0px 0px 15px 0px;
        font-family: Poppins-SemiBold;
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 1600px) {
    .choose_game_details form section {
        width: 85% !important;
    }
    .competition_block_header {
        span {
            font-size: 1.2rem;
        }
        p {
            font-size: 2rem;
        }
    }
    .trending_games_tab {
        padding: 0rem 5rem !important;
    }
    .game_selection_tab {
        padding: 3rem 5rem !important;
    }
}

.search_drop {
    position: absolute;
    z-index: 1;
    background-color: #535a66;
    width: 100%;
    top: 104%;
    left: 0;
    border-radius: 0.6rem;
    max-height: 170px;
    overflow: auto;
}

.selected_empty {
    font-size: 10px;
    color: #969696;
}

.date-form {
    position: relative;
    .clear_picker {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 45px;
        top: calc(50% - 12px);
        cursor: pointer;
        background-image: url(/assets/images/close.svg);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
    }
    input {
        padding-right: 60px;
        background-image: url(/assets/images/calendar.svg);
        background-size: 24px;
        background-position: 94% 50%;
        background-repeat: no-repeat;
    }
    input:focus {
        background-image: url(/assets/images/calen_black.svg);
    }
}

// game_table_starts
.league_drop {
    background-color: white;
    color: #636363;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1;
    input {
        width: 90%;
        margin-left: 5%;
        border: 0px;
        border-bottom: 1px solid #d5d5d5;
        height: 3.5rem;
        outline: none;
    }
    input::placeholder {
        color: black !important;
    }
    .drop_wrap {
        max-height: 230px;
        overflow-y: scroll;
        .league_out {
            padding: 1.5rem;
            padding-left: 5rem;
            position: relative;
            cursor: pointer;
            div {
                height: 2rem;
                width: 2rem;
                position: absolute;
                left: 1.5rem;
                top: 1.25rem;
                overflow: hidden;
                border: 2px solid #dadada;
                border-radius: 50%;
                img {
                    object-fit: contain;
                    height: 100%;
                }
            }
        }
    }
}

.choose_game_details {
    form {
        margin: 5vh 0vh 3vh 0vh;
        section {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            align-items: flex-end;
            background-color: #212631;
            padding: 0rem 1rem;
            // backdrop-filter: blur(5px);
            .form-group {
                margin: 0;
                margin: 1rem;
            }
            .form-group:nth-last-child(n) {
                width: auto;
            }
            .form-group:nth-child(3) {
                flex-grow: 1;
                input {
                    background-color: transparent !important;
                    border-radius: 0px;
                    border-right: 1px solid white !important;
                    border-left: 1px solid white !important;
                }
            }
        }
        .search_button {
            width: 40px;
            background-image: url(/assets/images/search.svg);
            background-size: 40%;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    .game_selection_tab {
        background-color: #20252f;
        padding: 3rem 10rem;
        display: flex;
        justify-content: space-between;
        section {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            height: 75px;
            .add_game_btn {
                height: 4rem;
                width: 4rem;
                border: 1px dashed;
                border-radius: 12px;
                text-align: center;
                line-height: 4rem;
                cursor: pointer;
                margin-right: 1rem;
                font-size: 2rem;
            }
            .selectedGamesOut {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 6rem;
                padding-bottom: 2rem;
                // height: 75px;
                margin-bottom: 5px;
                span {
                    margin: 0rem 1rem;
                }
                div {
                    width: 4rem;
                    height: 4rem;
                    border: 2px solid #3e5682;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                    background-color: #bcbcbc1f;
                    overflow: hidden;
                }
                .remove_games {
                    bottom: -2px;
                    position: absolute;
                    background-color: #0db983;
                    width: 100%;
                    min-width: 70px;
                    text-align: center;
                    justify-content: center;
                    padding: 5px 0px;
                    border-radius: 4px;
                    display: none;
                    cursor: pointer;
                    height: auto;
                }
            }
            .selectedGamesOut:hover .remove_games {
                display: block;
            }
        }
        .listed_games {
            overflow: hidden;
            overflow-x: auto;
            margin-right: 2.5rem;
        }
        .listed_games::-webkit-scrollbar {
            height: 5px;
        }
    }
    .trending_games_tab {
        margin-top: 5vh;
        padding: 0rem 10rem;
        p {
            font-style: italic;
        }
        .trending_row {
            background-color: #171c26 !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            padding: 2rem;
            margin-bottom: 1rem;
            border: 1px solid #21252d;
            .vs {
                display: flex;
                align-items: center;
                width: 35%;
                span {
                    margin: 0rem 2rem;
                }
                section {
                    display: flex;
                    align-items: center;
                    width: 45%;
                    position: relative;
                    padding-left: 6.5rem;
                    div {
                        width: 4.5rem;
                        height: 4.5rem;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-right: 1.2rem;
                        background-size: cover;
                        border-radius: 50%;
                        background-color: white;
                        position: absolute;
                        left: 0;
                        overflow: hidden;
                        img {
                            object-fit: contain;
                        }
                    }
                    label {
                        font-size: 1.2rem;
                        font-family: Poppins-Light;
                        font-style: italic;
                        color: #ffffff5c;
                    }
                }
            }
            .details {
                display: flex;
                width: 20%;
                section {
                    display: flex;
                    flex-direction: column;
                    margin-right: 2rem;
                    span {
                        font-size: 1.4rem;
                        font-family: Poppins-Medium;
                    }
                    span:nth-child(2) {
                        font-size: 1.2rem;
                        font-family: Poppins-Light;
                        font-style: italic;
                        margin-top: 1rem;
                        color: #ffffff5c;
                    }
                }
            }
            .view_button {
                display: flex;
                align-items: center;
                .vw {
                    background-color: rgb(255 255 255 / 21%);
                    cursor: pointer;
                    border-radius: 3px;
                    padding: 0.7rem 3rem;
                }
                .select_game {
                    width: 2rem;
                    height: 2rem;
                    border: 1px solid rgb(255 255 255 / 0.23);
                    margin-left: 2rem;
                    border-radius: 3px;
                    cursor: pointer;
                    background-color: #070c16;
                }
            }
        }
    }
}

.active {
    .view_button {
        .select_game {
            background-color: white !important;
            position: relative;
        }
        .select_game::after {
            content: "";
            position: absolute;
            width: 110%;
            height: 90%;
            top: -2px;
            left: 20%;
            background-image: url(/assets/images/check.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

// checkbox
.select_game {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    margin-left: 2rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
}

.select_active {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 90%;
        top: -2px;
        left: 20%;
        background-image: url(/assets/images/check.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

// gametable_ends
.paginator_admin {
    padding: 0;
    padding-bottom: 1rem;
    margin-top: 1rem;
    .ngx-pagination {
        margin: 0 !important;
        a {
            color: white !important;
        }
        a:hover {
            background-color: #0db983;
        }
    }
}

.paginator {
    .ngx-pagination {
        padding: 0;
        margin-top: 3rem;
        a {
            color: white !important;
        }
        a:hover {
            background-color: transparent !important;
        }
    }
    .ngx-pagination .current {
        color: #0db983 !important;
        background-color: transparent !important;
    }
    .ngx-pagination .pagination-previous,
    .pagination-next {
        color: white !important;
        background-color: #0db983 !important;
        height: 3rem;
        line-height: 3rem;
        padding: 0 1rem !important;
        border-radius: 4px;
        a {
            padding: 0 !important;
            border: 0 !important;
            outline: none !important;
        }
        a::after {
            display: none !important;
        }
        a::before {
            display: none !important;
        }
    }
    .ngx-pagination .disabled {
        background-color: #232933 !important;
    }
    .ngx-pagination .pagination-previous::before {
        display: none !important;
    }
    .ngx-pagination .pagination-next {
        margin-left: 2rem;
    }
    .ngx-pagination .pagination-previous {
        margin-right: 2rem;
    }
}

.clear_league {
    position: absolute;
    right: 15%;
    top: calc(50% - 10px);
    font-family: Poppins-Semibold;
    cursor: pointer;
    height: 16px;
    height: 20px;
    line-height: 20px;
}

// popup_style_common
.cancel_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #050617eb;
    z-index: 99;
}

.popup_out {
    position: fixed;
    z-index: 999;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem 10rem;
    border-radius: 6px;
    color: black;
    text-align: center;
    .popup_icon {
        width: 5rem;
        height: 5rem;
        margin: 0 auto;
        background-image: url(/assets/images/whistle.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
    }
    .pop_head {
        font-family: Poppins-Medium;
        font-weight: bold;
        font-size: 1.6rem;
    }
    .pop_message {
        font-family: Poppins-Light;
        margin-bottom: 5vh;
    }
    .button_wrap {
        button:nth-child(1) {
            color: #0db983;
            border: 1px solid;
            margin-right: 2rem;
        }
    }
}

.common_popup {
    padding: 0;
    .common_pop_head {
        padding: 2rem 7rem;
        text-align: center;
        background-color: #0db983;
        position: relative;
        border-radius: 6px 6px 1px 0px;
        .close_common {
            width: 30px;
            height: 30px;
            background-color: #454545;
            position: absolute;
            top: -45px;
            left: calc(50% - 1.1rem);
            border-radius: 50%;
            background-image: url(/assets/images/cancel_white.svg);
            background-size: 40%;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        p {
            margin: 0;
            color: white;
            font-family: Poppins-Medium;
            span {
                font-size: 1.2rem;
                font-family: Poppins-Light;
                font-style: italic;
            }
        }
    }
    .common_pop_body {
        max-height: 220px;
        overflow: auto;
        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2rem 5rem;
            .user_Detais {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                .us_icon {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: #636363;
                    background-size: contain;
                    background-position: center;
                }
                .name {
                    padding-left: 2rem;
                    width: 220px;
                    text-align: left;
                }
            }
            .actions {
                .close {
                    width: 2.8rem;
                    height: 2.8rem;
                    border-radius: 8px;
                    background-color: #dbdbdb;
                    background-size: 40%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(/assets/images/cancel.svg);
                    cursor: pointer;
                }
            }
        }
    }
}

// phonenumber_input_styles
.iti {
    display: block !important;
}

.iti-mobile .iti__country-list {
    max-height: 80% !important;
}

.iti__country-list {
    color: black !important;
    width: 300px !important;
    font-size: 1.2rem !important;
    // height: 100% !important;
    margin-top: 10px !important;
}

.userExistCheck {
    position: relative;
    input {
        padding-right: 2rem;
    }
}

.userExistCheck::after {
    content: "";
    background-image: url(./assets/images/check_round.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 1rem;
    bottom: 8px;
}

.know_more {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    padding-left: 1rem;
}

.custm-drop {
    position: absolute;
    top: 65px;
    right: 140px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    min-width: 180px;
    &::before {
        content: "";
        position: absolute;
        top: -25px;
        right: 12px;
        width: 30px;
        height: 30px;
        background-image: url("./assets/images/dropdown-arrow.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        // background-color: white;
        border-radius: 3px;
        // -ms-transform: rotate(45deg); /* IE 9 */
        // transform: rotate(45deg); /* Standard syntax */
    }
    ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        li {
            padding: 15px 40px;
            margin: 5px 0px;
            cursor: pointer;
            font-size: 1.4rem;
            position: relative;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            &:hover {
                background-color: #e8e8e8;
            }
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                background-color: #0db983;
                position: absolute;
                top: 19px;
                left: 20px;
                border-radius: 50%;
            }
            &:nth-child(2) {
                &::before {
                    background-color: #febb2e;
                }
            }
            &:nth-child(3) {
                &::before {
                    background-color: #fe6140;
                }
            }
        }
    }
}

.filter-drop {
    ul {
        li {
            position: unset;
            padding: 15px 20px;
            &::before {
                display: none;
            }
        }
    }
    .filter-hd {
        padding: 15px 20px 20px;
    }
    .filter-bt {
        color: #0db983;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        margin-bottom: 15px;
    }
}

// arrow_animation
@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.home_leg {
    padding-left: 30px !important;
    background-image: url(./assets/images/footbal_small.png);
    background-size: 30%;
    background-position: 0px 1px;
    background-repeat: no-repeat;
}

.competition_card_layout {
    padding-bottom: 2rem;
}

.competition_club_card:focus {
    outline: none !important;
}

::ng-deep .carousel:focus {
    outline: none !important;
}

.noCompIco {
    background-image: url(/assets/images/football-award.svg);
    background-size: 75% !important;
    background-position: center !important;
    background-repeat: no-repeat;
}

.info_span {
    cursor: pointer;
    margin-left: 5px;
    img {
        width: 12px;
    }
}