<div id="section" (scroll)="onScroll($event)">
    <section class="layout_outer">
        <app-header *ngIf="isWeb" [fixed]='fixed'></app-header>
        <section class="rules_outer">
            <div class="rules_head">{{'Joining-Competitions.mainHead' | translate}}</div>
            <ul>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list1' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list2' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list3' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list4' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list5' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list6' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list7' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list8' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list9' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list10' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list11' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list12' | translate}}</li>
                <li class="rule-unorder-list">{{'Joining-Competitions.orderlist.list13' | translate}}</li>

              
            </ul>

          
            
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list1' | translate}}</div>
            <div class="rules_wrap">
          
                <p>{{'Joining-Competitions.subheader1.p1' | translate}}</p>
                <p>{{'Joining-Competitions.subheader1.p2' | translate}}</p>
                <p>{{'Joining-Competitions.subheader1.p3' | translate}}</p>
                <p>{{'Joining-Competitions.subheader1.p4' | translate}}</p>

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list2' | translate}}</div>
            
            <div class="rules_wrap">
               
                <p>{{'Joining-Competitions.subheader2.p1' | translate}}</p>

           

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list3' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader3.p1' | translate}}</p>
                <p>{{'Joining-Competitions.subheader3.p2' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list4' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader4.p1' | translate}}</p>
                <p>{{'Joining-Competitions.subheader4.p2' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list5' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader5.p1' | translate}}</p>
                <p>{{'Joining-Competitions.subheader3.p2' | translate}}</p>

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list6' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader6.p1' | translate}}</p>
  

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list7' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader7.p1' | translate}}</p>


            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list8' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader8.p1' | translate}}</p>
        

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list9' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader9.p1' | translate}}</p>
        

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list10' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader10.p1' | translate}}</p>
        

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list11' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader11.p1' | translate}}</p>
        

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list12' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader12.p1' | translate}}</p>
        

            </div>
            <div class="rule-subHead2">{{'Joining-Competitions.orderlist.list13' | translate}}</div>
            <div class="rules_wrap">
                <p>{{'Joining-Competitions.subheader13.p1' | translate}}</p>
        

            </div>
        </section>
    </section>
</div>
<app-footer *ngIf="isWeb"></app-footer>
