<div class="cancel_overlay"></div>
<div class="popup_out">
    <div class="common_pop_head review_pop_head">
        <div class="close_common" (click)="oncloseNotice()"></div>
        <p>{{'review.important' | translate}}</p>
        <p class="notice">{{'walletwidraw.msg' | translate}}</p>
    </div>
    <div class="button_wrap">
        <button class="btn btn_transparent" (click)="contactus()">{{'walletwidraw.contactus' | translate}}
        </button>
        <button type="submit" class="btn" (click)="continue()">{{'walletwidraw.continue' | translate}}
        </button>
    </div>
    <div class="redeem_form_wrap">
    </div>
</div>
